﻿.ajax__tab_default .ajax__tab_tab
{
	width:57px;
}.gridpayment
{
	background: url(../images/payment.png) no-repeat;
	cursor: pointer;
	float: left;
	height: 24px;
	width: 24px;
}
.gridrecieved
{
	background: url(../images/recieved.png) no-repeat;
	cursor: pointer;
	float: left;
	height: 24px;
	width: 24px;
}
.gridapprovedform
{
	background: url(../images/approved-form.png) no-repeat;
	cursor: pointer;
	float: left;
	height: 24px;
	width: 24px;
}
.gridchangestatus
{
	background: url(../images/change-status.png) no-repeat;
	cursor: pointer;
	float: left;
	height: 24px;
	width: 24px;
}