@font-face {
  font-family: 'aruti-custom-menu';
  src:  url('fonts/aruti-custom-menu.eot?bfs5p2');
  src:  url('fonts/aruti-custom-menu.eot?bfs5p2#iefix') format('embedded-opentype'),
    url('fonts/aruti-custom-menu.ttf?bfs5p2') format('truetype'),
    url('fonts/aruti-custom-menu.woff?bfs5p2') format('woff'),
    url('fonts/aruti-custom-menu.svg?bfs5p2#aruti-custom-menu') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.af, i.af, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'aruti-custom-menu' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aruti-icon-sitemap:before {
  content: "\e9ab";
}
.aruti-icon-activity:before {
  content: "\e900";
}
.aruti-icon-airplay:before {
  content: "\e901";
}
.aruti-icon-alert-circle:before {
  content: "\e902";
}
.aruti-icon-alert-octagon:before {
  content: "\e903";
}
.aruti-icon-alert-triangle:before {
  content: "\e904";
}
.aruti-icon-align-center:before {
  content: "\e905";
}
.aruti-icon-align-justify:before {
  content: "\e906";
}
.aruti-icon-align-left:before {
  content: "\e907";
}
.aruti-icon-align-right:before {
  content: "\e908";
}
.aruti-icon-anchor:before {
  content: "\e909";
}
.aruti-icon-aperture:before {
  content: "\e90a";
}
.aruti-icon-archive:before {
  content: "\e90b";
}
.aruti-icon-arrow-down:before {
  content: "\e90c";
}
.aruti-icon-arrow-down-circle:before {
  content: "\e90d";
}
.aruti-icon-arrow-down-left:before {
  content: "\e90e";
}
.aruti-icon-arrow-down-right:before {
  content: "\e90f";
}
.aruti-icon-arrow-left:before {
  content: "\e910";
}
.aruti-icon-arrow-left-circle:before {
  content: "\e911";
}
.aruti-icon-arrow-right:before {
  content: "\e912";
}
.aruti-icon-arrow-right-circle:before {
  content: "\e913";
}
.aruti-icon-arrow-up:before {
  content: "\e914";
}
.aruti-icon-arrow-up-circle:before {
  content: "\e915";
}
.aruti-icon-arrow-up-left:before {
  content: "\e916";
}
.aruti-icon-arrow-up-right:before {
  content: "\e917";
}
.aruti-icon-at-sign:before {
  content: "\e918";
}
.aruti-icon-award:before {
  content: "\e919";
}
.aruti-icon-bar-chart:before {
  content: "\e91a";
}
.aruti-icon-bar-chart-2:before {
  content: "\e91b";
}
.aruti-icon-battery:before {
  content: "\e91c";
}
.aruti-icon-battery-charging:before {
  content: "\e91d";
}
.aruti-icon-bell:before {
  content: "\e91e";
}
.aruti-icon-bell-off:before {
  content: "\e91f";
}
.aruti-icon-bluetooth:before {
  content: "\e920";
}
.aruti-icon-bold:before {
  content: "\e921";
}
.aruti-icon-book:before {
  content: "\e922";
}
.aruti-icon-bookmark:before {
  content: "\e923";
}
.aruti-icon-book-open:before {
  content: "\e924";
}
.aruti-icon-box:before {
  content: "\e925";
}
.aruti-icon-briefcase:before {
  content: "\e926";
}
.aruti-icon-calendar:before {
  content: "\e927";
}
.aruti-icon-camera:before {
  content: "\e928";
}
.aruti-icon-camera-off:before {
  content: "\e929";
}
.aruti-icon-cast:before {
  content: "\e92a";
}
.aruti-icon-check:before {
  content: "\e92b";
}
.aruti-icon-check-circle:before {
  content: "\e92c";
}
.aruti-icon-check-square:before {
  content: "\e92d";
}
.aruti-icon-chevron-down:before {
  content: "\e92e";
}
.aruti-icon-chevron-left:before {
  content: "\e92f";
}
.aruti-icon-chevron-right:before {
  content: "\e930";
}
.aruti-icon-chevrons-down:before {
  content: "\e931";
}
.aruti-icon-chevrons-left:before {
  content: "\e932";
}
.aruti-icon-chevrons-right:before {
  content: "\e933";
}
.aruti-icon-chevrons-up:before {
  content: "\e934";
}
.aruti-icon-chevron-up:before {
  content: "\e935";
}
.aruti-icon-chrome:before {
  content: "\e936";
}
.aruti-icon-circle:before {
  content: "\e937";
}
.aruti-icon-clipboard:before {
  content: "\e938";
}
.aruti-icon-clock:before {
  content: "\e939";
}
.aruti-icon-cloud:before {
  content: "\e93a";
}
.aruti-icon-cloud-drizzle:before {
  content: "\e93b";
}
.aruti-icon-cloud-lightning:before {
  content: "\e93c";
}
.aruti-icon-cloud-off:before {
  content: "\e93d";
}
.aruti-icon-cloud-rain:before {
  content: "\e93e";
}
.aruti-icon-cloud-snow:before {
  content: "\e93f";
}
.aruti-icon-code:before {
  content: "\e940";
}
.aruti-icon-codepen:before {
  content: "\e941";
}
.aruti-icon-codesandbox:before {
  content: "\e942";
}
.aruti-icon-coffee:before {
  content: "\e943";
}
.aruti-icon-columns:before {
  content: "\e944";
}
.aruti-icon-command:before {
  content: "\e945";
}
.aruti-icon-compass:before {
  content: "\e946";
}
.aruti-icon-copy:before {
  content: "\e947";
}
.aruti-icon-corner-down-left:before {
  content: "\e948";
}
.aruti-icon-corner-down-right:before {
  content: "\e949";
}
.aruti-icon-corner-left-down:before {
  content: "\e94a";
}
.aruti-icon-corner-left-up:before {
  content: "\e94b";
}
.aruti-icon-corner-right-down:before {
  content: "\e94c";
}
.aruti-icon-corner-right-up:before {
  content: "\e94d";
}
.aruti-icon-corner-up-left:before {
  content: "\e94e";
}
.aruti-icon-corner-up-right:before {
  content: "\e94f";
}
.aruti-icon-cpu:before {
  content: "\e950";
}
.aruti-icon-credit-card:before {
  content: "\e951";
}
.aruti-icon-crop:before {
  content: "\e952";
}
.aruti-icon-crosshair:before {
  content: "\e953";
}
.aruti-icon-database:before {
  content: "\e954";
}
.aruti-icon-delete:before {
  content: "\e955";
}
.aruti-icon-disc:before {
  content: "\e956";
}
.aruti-icon-divide:before {
  content: "\e957";
}
.aruti-icon-divide-circle:before {
  content: "\e958";
}
.aruti-icon-divide-square:before {
  content: "\e959";
}
.aruti-icon-dollar-sign:before {
  content: "\e95a";
}
.aruti-icon-download:before {
  content: "\e95b";
}
.aruti-icon-download-cloud:before {
  content: "\e95c";
}
.aruti-icon-dribbble:before {
  content: "\e95d";
}
.aruti-icon-droplet:before {
  content: "\e95e";
}
.aruti-icon-edit:before {
  content: "\e95f";
}
.aruti-icon-edit-2:before {
  content: "\e960";
}
.aruti-icon-edit-3:before {
  content: "\e961";
}
.aruti-icon-external-link:before {
  content: "\e962";
}
.aruti-icon-eye:before {
  content: "\e963";
}
.aruti-icon-eye-off:before {
  content: "\e964";
}
.aruti-icon-facebook:before {
  content: "\e965";
}
.aruti-icon-fast-forward:before {
  content: "\e966";
}
.aruti-icon-feather:before {
  content: "\e967";
}
.aruti-icon-figma:before {
  content: "\e968";
}
.aruti-icon-file:before {
  content: "\e969";
}
.aruti-icon-file-minus:before {
  content: "\e96a";
}
.aruti-icon-file-plus:before {
  content: "\e96b";
}
.aruti-icon-file-text:before {
  content: "\e96c";
}
.aruti-icon-film:before {
  content: "\e96d";
}
.aruti-icon-filter:before {
  content: "\e96e";
}
.aruti-icon-flag:before {
  content: "\e96f";
}
.aruti-icon-folder:before {
  content: "\e970";
}
.aruti-icon-folder-minus:before {
  content: "\e971";
}
.aruti-icon-folder-plus:before {
  content: "\e972";
}
.aruti-icon-framer:before {
  content: "\e973";
}
.aruti-icon-frown:before {
  content: "\e974";
}
.aruti-icon-gift:before {
  content: "\e975";
}
.aruti-icon-git-branch:before {
  content: "\e976";
}
.aruti-icon-git-commit:before {
  content: "\e977";
}
.aruti-icon-github:before {
  content: "\e978";
}
.aruti-icon-gitlab:before {
  content: "\e979";
}
.aruti-icon-git-merge:before {
  content: "\e97a";
}
.aruti-icon-git-pull-request:before {
  content: "\e97b";
}
.aruti-icon-globe:before {
  content: "\e97c";
}
.aruti-icon-grid:before {
  content: "\e97d";
}
.aruti-icon-hard-drive:before {
  content: "\e97e";
}
.aruti-icon-hash:before {
  content: "\e97f";
}
.aruti-icon-headphones:before {
  content: "\e980";
}
.aruti-icon-heart:before {
  content: "\e981";
}
.aruti-icon-help-circle:before {
  content: "\e982";
}
.aruti-icon-hexagon:before {
  content: "\e983";
}
.aruti-icon-home:before {
  content: "\e984";
}
.aruti-icon-image:before {
  content: "\e985";
}
.aruti-icon-inbox:before {
  content: "\e986";
}
.aruti-icon-info:before {
  content: "\e987";
}
.aruti-icon-instagram:before {
  content: "\e988";
}
.aruti-icon-italic:before {
  content: "\e989";
}
.aruti-icon-key:before {
  content: "\e98a";
}
.aruti-icon-layers:before {
  content: "\e98b";
}
.aruti-icon-layout:before {
  content: "\e98c";
}
.aruti-icon-life-buoy:before {
  content: "\e98d";
}
.aruti-icon-link:before {
  content: "\e98e";
}
.aruti-icon-link-2:before {
  content: "\e98f";
}
.aruti-icon-linkedin:before {
  content: "\e990";
}
.aruti-icon-list:before {
  content: "\e991";
}
.aruti-icon-loader:before {
  content: "\e992";
}
.aruti-icon-lock:before {
  content: "\e993";
}
.aruti-icon-log-in:before {
  content: "\e994";
}
.aruti-icon-log-out:before {
  content: "\e995";
}
.aruti-icon-mail:before {
  content: "\e996";
}
.aruti-icon-map:before {
  content: "\e997";
}
.aruti-icon-map-pin:before {
  content: "\e998";
}
.aruti-icon-maximize:before {
  content: "\e999";
}
.aruti-icon-maximize-2:before {
  content: "\e99a";
}
.aruti-icon-meh:before {
  content: "\e99b";
}
.aruti-icon-menu:before {
  content: "\e99c";
}
.aruti-icon-message-circle:before {
  content: "\e99d";
}
.aruti-icon-message-square:before {
  content: "\e99e";
}
.aruti-icon-mic:before {
  content: "\e99f";
}
.aruti-icon-mic-off:before {
  content: "\e9a0";
}
.aruti-icon-minimize:before {
  content: "\e9a1";
}
.aruti-icon-minimize-2:before {
  content: "\e9a2";
}
.aruti-icon-minus:before {
  content: "\e9a3";
}
.aruti-icon-minus-circle:before {
  content: "\e9a4";
}
.aruti-icon-minus-square:before {
  content: "\e9a5";
}
.aruti-icon-monitor:before {
  content: "\e9a6";
}
.aruti-icon-moon:before {
  content: "\e9a7";
}
.aruti-icon-more-horizontal:before {
  content: "\e9a8";
}
.aruti-icon-more-vertical:before {
  content: "\e9a9";
}
.aruti-icon-mouse-pointer:before {
  content: "\e9aa";
}
.aruti-icon-music:before {
  content: "\e9ac";
}
.aruti-icon-navigation:before {
  content: "\e9ad";
}
.aruti-icon-navigation-2:before {
  content: "\e9ae";
}
.aruti-icon-octagon:before {
  content: "\e9af";
}
.aruti-icon-package:before {
  content: "\e9b0";
}
.aruti-icon-paperclip:before {
  content: "\e9b1";
}
.aruti-icon-pause:before {
  content: "\e9b2";
}
.aruti-icon-pause-circle:before {
  content: "\e9b3";
}
.aruti-icon-pen-tool:before {
  content: "\e9b4";
}
.aruti-icon-percent:before {
  content: "\e9b5";
}
.aruti-icon-phone:before {
  content: "\e9b6";
}
.aruti-icon-phone-call:before {
  content: "\e9b7";
}
.aruti-icon-phone-forwarded:before {
  content: "\e9b8";
}
.aruti-icon-phone-incoming:before {
  content: "\e9b9";
}
.aruti-icon-phone-missed:before {
  content: "\e9ba";
}
.aruti-icon-phone-off:before {
  content: "\e9bb";
}
.aruti-icon-phone-outgoing:before {
  content: "\e9bc";
}
.aruti-icon-pie-chart:before {
  content: "\e9bd";
}
.aruti-icon-play:before {
  content: "\e9be";
}
.aruti-icon-play-circle:before {
  content: "\e9bf";
}
.aruti-icon-plus:before {
  content: "\e9c0";
}
.aruti-icon-plus-circle:before {
  content: "\e9c1";
}
.aruti-icon-plus-square:before {
  content: "\e9c2";
}
.aruti-icon-pocket:before {
  content: "\e9c3";
}
.aruti-icon-power:before {
  content: "\e9c4";
}
.aruti-icon-printer:before {
  content: "\e9c5";
}
.aruti-icon-radio:before {
  content: "\e9c6";
}
.aruti-icon-refresh-ccw:before {
  content: "\e9c7";
}
.aruti-icon-refresh-cw:before {
  content: "\e9c8";
}
.aruti-icon-repeat:before {
  content: "\e9c9";
}
.aruti-icon-rewind:before {
  content: "\e9ca";
}
.aruti-icon-rotate-ccw:before {
  content: "\e9cb";
}
.aruti-icon-rotate-cw:before {
  content: "\e9cc";
}
.aruti-icon-rss:before {
  content: "\e9cd";
}
.aruti-icon-save:before {
  content: "\e9ce";
}
.aruti-icon-scissors:before {
  content: "\e9cf";
}
.aruti-icon-search:before {
  content: "\e9d0";
}
.aruti-icon-send:before {
  content: "\e9d1";
}
.aruti-icon-server:before {
  content: "\e9d2";
}
.aruti-icon-settings:before {
  content: "\e9d3";
}
.aruti-icon-share:before {
  content: "\e9d4";
}
.aruti-icon-share-2:before {
  content: "\e9d5";
}
.aruti-icon-shield:before {
  content: "\e9d6";
}
.aruti-icon-shield-off:before {
  content: "\e9d7";
}
.aruti-icon-shopping-bag:before {
  content: "\e9d8";
}
.aruti-icon-shopping-cart:before {
  content: "\e9d9";
}
.aruti-icon-shuffle:before {
  content: "\e9da";
}
.aruti-icon-sidebar:before {
  content: "\e9db";
}
.aruti-icon-skip-back:before {
  content: "\e9dc";
}
.aruti-icon-skip-forward:before {
  content: "\e9dd";
}
.aruti-icon-slack:before {
  content: "\e9de";
}
.aruti-icon-slash:before {
  content: "\e9df";
}
.aruti-icon-sliders:before {
  content: "\e9e0";
}
.aruti-icon-smartphone:before {
  content: "\e9e1";
}
.aruti-icon-smile:before {
  content: "\e9e2";
}
.aruti-icon-speaker:before {
  content: "\e9e3";
}
.aruti-icon-square:before {
  content: "\e9e4";
}
.aruti-icon-star:before {
  content: "\e9e5";
}
.aruti-icon-stop-circle:before {
  content: "\e9e6";
}
.aruti-icon-sun:before {
  content: "\e9e7";
}
.aruti-icon-sunrise:before {
  content: "\e9e8";
}
.aruti-icon-sunset:before {
  content: "\e9e9";
}
.aruti-icon-tablet:before {
  content: "\e9ea";
}
.aruti-icon-tag:before {
  content: "\e9eb";
}
.aruti-icon-target:before {
  content: "\e9ec";
}
.aruti-icon-terminal:before {
  content: "\e9ed";
}
.aruti-icon-thermometer:before {
  content: "\e9ee";
}
.aruti-icon-thumbs-down:before {
  content: "\e9ef";
}
.aruti-icon-thumbs-up:before {
  content: "\e9f0";
}
.aruti-icon-toggle-left:before {
  content: "\e9f1";
}
.aruti-icon-toggle-right:before {
  content: "\e9f2";
}
.aruti-icon-tool:before {
  content: "\e9f3";
}
.aruti-icon-trash:before {
  content: "\e9f4";
}
.aruti-icon-trash-2:before {
  content: "\e9f5";
}
.aruti-icon-trello:before {
  content: "\e9f6";
}
.aruti-icon-trending-down:before {
  content: "\e9f7";
}
.aruti-icon-trending-up:before {
  content: "\e9f8";
}
.aruti-icon-triangle:before {
  content: "\e9f9";
}
.aruti-icon-truck:before {
  content: "\e9fa";
}
.aruti-icon-tv:before {
  content: "\e9fb";
}
.aruti-icon-twitch:before {
  content: "\e9fc";
}
.aruti-icon-twitter:before {
  content: "\e9fd";
}
.aruti-icon-type:before {
  content: "\e9fe";
}
.aruti-icon-umbrella:before {
  content: "\e9ff";
}
.aruti-icon-underline:before {
  content: "\ea00";
}
.aruti-icon-unlock:before {
  content: "\ea01";
}
.aruti-icon-upload:before {
  content: "\ea02";
}
.aruti-icon-upload-cloud:before {
  content: "\ea03";
}
.aruti-icon-user:before {
  content: "\ea04";
}
.aruti-icon-user-check:before {
  content: "\ea05";
}
.aruti-icon-user-minus:before {
  content: "\ea06";
}
.aruti-icon-user-plus:before {
  content: "\ea07";
}
.aruti-icon-users:before {
  content: "\ea08";
}
.aruti-icon-user-x:before {
  content: "\ea09";
}
.aruti-icon-video:before {
  content: "\ea0a";
}
.aruti-icon-video-off:before {
  content: "\ea0b";
}
.aruti-icon-voicemail:before {
  content: "\ea0c";
}
.aruti-icon-volume:before {
  content: "\ea0d";
}
.aruti-icon-volume-1:before {
  content: "\ea0e";
}
.aruti-icon-volume-2:before {
  content: "\ea0f";
}
.aruti-icon-volume-x:before {
  content: "\ea10";
}
.aruti-icon-watch:before {
  content: "\ea11";
}
.aruti-icon-wifi:before {
  content: "\ea12";
}
.aruti-icon-wifi-off:before {
  content: "\ea13";
}
.aruti-icon-wind:before {
  content: "\ea14";
}
.aruti-icon-x:before {
  content: "\ea15";
}
.aruti-icon-x-circle:before {
  content: "\ea16";
}
.aruti-icon-x-octagon:before {
  content: "\ea17";
}
.aruti-icon-x-square:before {
  content: "\ea18";
}
.aruti-icon-youtube:before {
  content: "\ea19";
}
.aruti-icon-zap:before {
  content: "\ea1a";
}
.aruti-icon-zap-off:before {
  content: "\ea1b";
}
.aruti-icon-zoom-in:before {
  content: "\ea1c";
}
.aruti-icon-zoom-out:before {
  content: "\ea1d";
}
.aruti-icon-tree:before {
  content: "\ea1f";
}
