﻿/* Default CSS Stylesheet for a new Web Application project */
#LoginMain
{ 
	background-color : #EBE9ED;
	 font-size: medium ;
	 height : 300px;
		width: 435px; 
	 height: 284px; 
		 float:  none;
	}
	
#gridheaderforviewer
{
  border : 1;
 background-color : #B1F2FF;
 border-right : 1;
}
#masterheader
{
	border-style: none;
	border-width: thin;
	background-color: #839AAF;
}
#form1
{
 height : 650px;
 width :100%;
}
#ImageUser 
{
	 background-image :();
		}
	
.label, .LABEL
{
	font-size: 8pt;
	color: black;
	font-family: Arial, Verdana, 'Trebuchet MS' , 'Lucida Sans Unicode';
	text-decoration: none;
	word-wrap:break-word;
}
.LABELBOLD
{
	font-weight: bold;
	font-size: 8pt;
	color: #606060;
	font-family: ' Arial','Trebuchet MS' , 'Lucida Sans Unicode' , Verdana;
	text-decoration: none;
}

.LABELHL
{
	font-weight: bold;
	font-size: 10pt;
	text-transform: uppercase;
	color: black;
	font-family: 'Arial','Trebuchet MS' , 'Lucida Sans Unicode' , Verdana ;
	text-decoration: none;
}
.LABELSUB
{
	font-weight: bold;
	font-size: 10pt;
	color: black;
	font-family: 'Arial','Trebuchet MS' , 'Lucida Sans Unicode' , Verdana;
	text-decoration: none;
}
.LABELTITLE
{
	font-weight: bold;
	font-size: 12pt;
	text-transform: uppercase;
	color: white;
	font-family: ' Arial','Trebuchet MS' , 'Lucida Sans Unicode' , Verdana;
	text-decoration: none;
}
.LABELMent
{
	font-size: 9pt;
	color: red;
	font-family: ' Arial' , 'Trebuchet MS' , 'Lucida Sans Unicode' , Verdana;
}
.LABELSMALL
{
	font-size: 8pt;
	color: black;
	font-family:  Arial , 'Trebuchet MS' , 'Lucida Sans Unicode' , Verdana;
}

.LABELIndex
{
	font-weight: bold;
	font-size: 12pt;
	text-transform: uppercase;
	color: black;
	font-family: ' Arial';
	text-decoration: none;
}
.textbox, .TEXTBOX
{
	font-size: 8pt;
	color: black;
	font-family: Verdana, Arial, 'Trebuchet MS' , 'Lucida Sans Unicode' ;
	text-decoration: none; /*padding-right:10px;*/
}

.BUTTON, .button
{
	font-weight: bold;
	font-size: 10pt;
	text-transform: uppercase;
	color: black;
	font-family: Arial,'Trebuchet MS' , 'Lucida Sans Unicode' , Verdana;
	background-color: transparent;
	text-decoration: none;
}

.DROPDOWN, .dropdown
{
	font-size: 4pt;
	color: black;
	font-family: Arial,'Trebuchet MS' , 'Lucida Sans Unicode' , Verdana;
	border-collapse: collapse;
	text-decoration: none;
}
.dropdown1
{
	width: 105px;
	font-size: 8pt;
	color: black;
	font-family: Arial,'Trebuchet MS' , 'Lucida Sans Unicode' , Verdana;
	border-collapse: collapse;
	text-decoration: none;
}

.DATAGRID, .datagrid
{
	color: black;
	font-size: 8pt;
	text-transform: none;
	font-family: Arial, Verdana, 'Trebuchet MS' , 'Lucida Sans Unicode';
	background-color: #eff0ea	;
	border: none;
}

.gridheaderstyle
{
	padding-right: 5px;
	padding-left: 7px;
	font-weight: bold;
	text-transform: none;
	color: white;
	font-family: Verdana, Arial, 'Trebuchet MS' , 'Lucida Sans Unicode';
	font-size: 9pt; /*background-color: #8BA0F9; */
	text-transform: none;
	line-height: 15px; /*line-height: 30px; Shani [08 DEC 2014]*/
	background-color: #C5D8E9;
	color : #6C8296;
	text-align: left;
}

.griditemstyle
{
	border-width: thin;
	border-color: #000000;
	text-transform: none;
	background-color:  #F0F4F8 ;/* White: ;*/
	height : 30px;
	vertical-align: middle;
	text-align: left;
}

.gridalternatestyle
{
	/*	border-width: thin; 	border-color: #F0F4F8;     border-style: none none inset none;  	height: 30px; 	text-transform: uppercase; 	left: 0px; 	vertical-align: middle; 	text-align: left;*/
	border-width: thin;
	border-color: #000000;
	text-transform: none;
	background-color:  #F0F4F8 ;/* White: ;*/
	height : 30px;
	vertical-align: middle;
	text-align: left;
}

.gridselecteditem
{
	background-color: #ccccff;
	text-align: left;
}
.gridpagerstyle
{
	color: black;
	font-family: 'Trebuchet MS' , 'Lucida Sans Unicode' , Verdana, Arial; /*	background-color: #8BA0F9; */
background-color: #BBCEDE;
	font-size: 9pt;
}
#border2525
{
	}
.gridfooterstyle
{
	/*background-color: #8BA0F9; */
	background-color: #C5D8E9;
	color: #6C8296; /*	background-color: #C5D8E9; */
}
.cal_title
{
	background-color:  #4DA2C5;   /*#E6EAF6;*/
}
.Calselday
{
	background-color: #4DA2C5;
	 color :Yellow ;
	}
	.calsele
	{
		background-color: #4DA2C5;
	 color :Yellow ;
	}
	.calendar
	{
	 background-color: #E0DED2;
	 color :Yellow ;
	}
	.itemborder
	{ 
		border-style: none none inset none;
		border-bottom-color : Black ;
	}
.lblError
{
	font-family: 'Times New Roman' , Times, serif;
	font-size:  small ;
	font-weight: normal;
	font-style: normal;
	color: #FF0000;
}
#Maindiv
{
	background-color: #EDF1F4; /* #EBE9ED;*/ /* */
 }

#loginhead
{
	background-image:  url(images/bg_titlebar.gif); /* background-color:#5582C2; */
	background-repeat:   repeat-x  ;
	border: none;
	font-family: Arial;
	font-size:  medium ;
	position: relative; /*padding:4px 7px;*/
	text-transform: capitalize;
	color: #FFFFFF;
	font-variant: small-caps;
}


.btndefault, .btnDefault
{
	/*background-image: url(images/bg_btn.gif); 	background-repeat: repeat;     box-shadow:0 1px 0 rgba(255,255,255,0.3) inset;     */
	background-color: #860038; /*#337ab7*/ /*background: -webkit-linear-gradient(top,#337ab7 0%,#4099E7 100%);*/ /* background: -webkit-linear-gradient(top,#337ab7 0%,#84C6FF 100%); */
	border-color: #2e6da4;
	font-family: Verdana, Arial;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	padding: 6px 12px;
	border:1px solid #3a536e;
	cursor:pointer;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	display: inline-block;
	min-width: 100px;
}
input[type="button"]:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled 
{
	color: Silver;
}
input[type="button"][disabled]:hover, input[type="submit"][disabled]:hover, input[type="reset"][disabled]:hover
{
	/* turn off button hover styles */
	background-color: #fff;
	background: -webkit-linear-gradient(top,#860038 -40%,#860038 100%);
	color: Silver !important;
	cursor: default;
}
.btndefault:hover, .btnDefault:hover
{
	background-color: #337ab7;
	background: -webkit-linear-gradient(top,#337ab7 -40%,#84C6FF 100%); /*4099E7*/
	font-weight: 500;
}

.panel-primary
{
	border-color: #860038;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #860038;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-primary
{
	padding: 1px;
}


.panel-heading
{
	color: #fff;
	background-color: #860038;
	border-color: #860038;
	padding: 10px 15px;
	font-size: 14px;
	border-bottom: 1px solid #860038;
	-moz-border-top-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-khtml-border-top-left-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-khtml-border-top-right-radius: 3px;
	text-align: left;
}
.panel-body
{
	font-size: 12px;
}

.panel-default
{
	border-color: #ddd;
	margin: 8px;
	background-color: #fff;
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
/* Nilay[15-Jul-2015] -- Start */
.new-panel-default
{
	margin-top: 1px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 10px;
	border-color: #ddd;
	/*margin: 8px;  Nilay[01-Jul-2015] */
	background-color: #fff;
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
/* Nilay[15-Jul-2015] -- End */
.panel-heading-default
{
	color: #333;
	background-color: #EDF1F4;
	border-color: #ddd;
	padding: 7px 10px;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
	-moz-border-top-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-khtml-border-top-left-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-khtml-border-top-right-radius: 3px;
	height: 15px;
	text-align: left;
}
.panel-body-default
{
	font-size: 12px;
	padding: 10px 10px;
}
.btn-default
{
	color: #333;
	background-color: #EDF1F4;
	border-color: #ddd;
	padding: 10px 10px;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
	-moz-border-top-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-khtml-border-top-left-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-khtml-border-top-right-radius: 3px;
	border: 1px solid #ddd;
	text-align: right;
	margin-top: 10px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -10px;
}
.table > tbody > tr:first-child > td
{
	border-bottom: 2px solid #ddd;
	padding: 8px;
}
/*
Sohail (04 Apr 2013) - Start
*** new button and file upload class for file upload control ***
*/
.btn 
{
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
	border-top: 1px solid #AAA;
	display:inline-block;
		padding:4px 10px 4px;
		margin-bottom:0;	
		line-height:18px;
		color:#222;
		text-align:center;
		text-decoration: none;
		text-shadow:0 1px 1px rgba(255,255,255,.75);
		vertical-align:middle;
		background-color:#f2f2f2;
		background-repeat:repeat-x;
		border:1px solid #AAA;
		border-bottom:4px solid #AAA;
		-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
		-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
		box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
		margin-left: .3em;
	background-image: linear-gradient(top, #FDFDFD, #BEB7B9);
}

.flupload
{
	display:block;
	width:102px;
	height: 30px;
	float:none;
	direction: ltr;
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
	opacity: 0;
	-moz-transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
}

/*
Sohail (04 Apr 2013) - End
*/

.containerheader
{
	font-family: Arial, Verdana, Lucida Sans, MS Sans Serif;
	color: Black;
	background-color: #eff0ea;
	height: 31px;
	font: bold 12px/18px Arial;
	text-decoration: none;
}

.containerbody
{
	font-family: Arial, Verdana, Lucida Sans, MS Sans Serif;
	font-size: 10px;
	color: Black;
	border:none;
}

#entryarea
{
	background-color: White;
	padding: 5px;
	margin: 10px;
	border: 3px double #000000;
}

/*
.menutitle
{
	font: 12px Tahoma, Verdana, Arial;
	color: black;
	padding: 0px;
	width:100%;
	height:24px;
	text-decoration: none;
	cursor: pointer;
	border: none;
	background-image: url('images/bgmenutitle.jpg' );
}
*/
.homemenu
{
	font: 10pt Arial, Verdana, Tahoma, Arial;
	background-image:url('images/bullet1.png');
	background-repeat: no-repeat;
	background-position: top left left;
	padding-left: 20px;
	color: #3a66dd;
	text-decoration: none;
	cursor: pointer;
	border: none;
}

.homemenu:hover
{
	color: #ffffff;
	width:100%;
	text-decoration: underline;
	background-color:#8EA2F8;
	border-right: gray 1px solid;
	border-top: gray 1px solid;
	border-left: gray 1px solid;
	border-bottom: gray 1px solid;
}


#header
{
	margin: 0px;
	padding: 0px;
	height: 50px;
	width: 100%;
	left: 0px;
	right: 0px;
	text-align: left;
	vertical-align:bottom;
	background-color: #6A7F98; /*839AAF;*/ /*background-image: url(   'images/bgheaderstrip.jpg' );*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	z-index: 0;
	float: none;
}

#footer
{
	width:100%;
	height:35px;
	background-color : #6A7F98 ;
}

#leftpanel
{
	border: thin groove #00FF00;
	height: 100%;
	float: left;
	position: relative;
	text-align: center;
}

#middlepanel
{
	height:100%;
	float: none; /*position: relative ;	*/
}
#LoginPanal
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

#rightpanel
{
	border: thin solid black;
	float: inherit; /*position: relative  ;*/
	text-align:left;
	padding: 0px; /*background-color: #EBE9ED	;*/
	top : 0px;
	left : 0px;
}

#menupanel
{
	width:85%;
	height:300px;
	border: thin solid black;
	text-align:left;
	vertical-align:top;
	padding:5px;
	background-color:white;
}

#menustrip, .menustrip
{
	height: 32px;
	width:100%;
	text-align:left;
	padding:0px;
	margin:10px;
	background-image: url(   'images/bgtoolstrip.jpg' ); /*	background-color : #ABC0D4;  */
}

.sectiontitle
{
	margin-left:10px;
	padding:5px;
	border-top: thin solid #88A0F8;
	border-left: thin solid #88A0F8;
	border-right: thin solid #88A0F8;
	border-bottom: none;
	width:20%;
	float:none;
	font-weight:bold;
	}
	
.sectionbody
{
	height:100%;
	padding:5px;
	border: thin solid #88A0F8;
	margin-top:2px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
	}

.de
{
	margin: 2px;
	padding: 2px;
	vertical-align:middle;
	}

.l
{
	width: 25%;
	float: left;
	text-align: right;
	}

.r
{
	width: 70%;
	float: left;
	text-align:left;
	}

.markreq
{
	padding:0px;
	margin:0px;
	color:Red;
	font-size:12pt;
	vertical-align:middle;
	text-align:center;
	}
.homemenu1
{
	font: 12px Tahoma, Verdana, Arial;
	color: #000000;
	padding: 5px;
	text-decoration: none;
	cursor: pointer;
	border: none;
	z-index:0;
}

.homemenu1:hover
{
	color: #ffffff;
	background-color:#316ac5;
	border-right: gray 1px solid;
	border-top: gray 1px solid;
	border-left: gray 1px solid;
	border-bottom: gray 1px solid;
}
.headerlabel
{
	font-size: 11pt;
	color: red;
	font-family: 'Trebuchet MS' , 'Lucida Sans Unicode' , Verdana, Arial;
	text-decoration: none;
}

.headerlabelbold
{
	font-weight: bold;
	font-size: 11pt;
	color: black;
	font-family: 'Trebuchet MS' , 'Lucida Sans Unicode' , Verdana, Arial;
	text-decoration: none;
}

.bodylabel
{
	font-size: 10pt;
	color: black;
	font-family: 'Trebuchet MS' , 'Lucida Sans Unicode' , Verdana, Arial;
	text-decoration: none;
}
.bodylabelul
{
	font-size: 10pt;
	color: black;
	font-family: 'Trebuchet MS' , 'Lucida Sans Unicode' , Verdana, Arial;
	text-decoration: underline;
}
.bodylabelbold
{
	font-weight: bold;
	font-size: 10pt;
	color: black;
	font-family: 'Trebuchet MS' , 'Lucida Sans Unicode' , Verdana, Arial;
	text-decoration: none;
}

#tblsearch
{ 
	background-color:#F6FAFC;
	}
#tblserHeader
{ 
		background-color : #DCE4EB;
}
#outertable
{
	width : 800px;
	border: 1px solid #C0C0C0;
	height : 550px;
}
.staticlbl
{
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal ;
	font-style: normal;
	font-variant: normal;
}
.displbl
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: lighter;
	font-variant: normal;
	text-transform: none;
	color: #808080;
}
#tblmain
{
	border: thin groove #5582C2; /*#C0C0C0;*/
}
#tblmain1
{
	border: thin groove  black; /*#C0C0C0;*/
	background-color :    ThreeDLighShadow   ;
}
.pnlcontentmai
{
	 background-color :Aqua ;
}
#leavePagehead
{
	background-color :#FAF9FA;
	top : 0px;
	left: 0px;
}
.ContentCantroller
{
		border: thin groove #C0C0C0;
	margin: 10px,0px,10px,0px; /*background-color:  #EBE9ED;  */
	background-color:  #EDF1F4; 
}
.FirstTable
{
	background-color:  #EDF1F4; 
}
.dropdown
{
	width   : 120px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}
.textbox
{
 /*width: 100px;*/
}
.chkbx&listbx
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}
	
.radiobt
{
	width   : 100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
.chkbx
{
  font-family     : Arial, Helvetica, sans-serif;
	font-size: small;
}
#contentouter
{
/* background-color :#EBE9ED; */
	background-color:  #EDF1F4; 
}
.mullinetxt
{ 
	width :250px;
	}
	#tblmain
	{
		background-color:  #EDF1F4; 
		}
#pagefoot
{
	border-color: #313131; /* background-color: #F7F6F7; */
  background-color      :	#EDF1F4;
	border-style: solid none none none;
	border-width: thin;
}
#rowbottomborder
{
	border-style: none none solid none;
	border-width: thin;
}
.DateConrtol
{
   width: 100px;
	}
	#rowcont
	{
		background-color : #EBE9ED;/*#F6FAFC;*/
	}
	.textboxfil
	{
		width :100px;
	}
	.dropfil
{
	width: 100Px;
		}
.filtertable
  {
    	border-style: outset inset inset outset;
	border-width: thin;
    }
    .gridvew
    {
	border: thin inset #000000;
	}
	#lefttable
	{
		 vertical-align :  top;
		  border-style: outset inset inset outset; 
	border-width: thin; /*  border-color:#E7E7D6; */
		  background-color:  #EDF1F4;
	}
	.thinborder
	{
		 border-style: outset inset inset outset; 
		  border-width: thin;
		  border-color:#E7E7D6;
	}
	#midtable
	{
		 vertical-align :  top;
		  border-style: outset inset inset outset; 
		  border-width: thin;
		   border-color:#E7E7D6;
		   background-color:  #EDF1F4;
	}
	#rgtable
	{
		 vertical-align :  top;
		  border-style: outset inset inset outset; 
		  border-width: thin;
		    border-color:#E7E7D6;
		    background-color:  #EDF1F4;
    }
    #secondtbl
    {
    	border-width: thin;
    	 border-style: outset inset inset outset;
    	   border-color :#E7E7D6;
    	      	  background-color:  #EDF1F4;
    }
    .tbContain
    {
     background-color :Lime;
    }
    .tab
    {
    	background-color :Blue ;
    }
    #SecondPan
    {
     border-top-style : solid ;
     border-top-color :Black;
     border-top-width : thin ;	
    	}
    	#tabheaddark
    	{
    	 background-color : #ABC0D4;	
    	}
 .tabhead
 {
  background-color : #E7E6E9;
 }
 .CheckBoxList
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
}
.tabpanl
{
	font-family: Arial;
	background-color: #00FFFF;
}
.Emp_Grid
{
	border-style: inset outset outset inset;
	border-width: thin;
	border-color: #76B0D9; /*  background-color: #708090; */
	 background-color: #C5D8E9;
	background-repeat: no-repeat;
	color: #000000;
}
.GridView
{
	font-family: Arial;
	font-size: 12px;
}
.homeGridHeader
{
	 background-color : #749FED;
	  color : Silver ;
}
.GridHeader
{
	border-style: none inset none none;
	border-width: thin;
	border-color: #FFFFFF;
}
.ViewClass
{
	background-color: #C0C0C0;
}
.contentBack
{
	background-color: #687E95;
}
.Darkgreen
{
	background-color: #5C7289;
	color: #FFFFFF;
}
.ContentController
{
 z-index:100;	
}
.LeaveLink
{
	color : White ;
}
/** CSS added by viken **/
.titleimg
{
    float:left;
    margin: 2px 7px 0 0;   
}
.close
{
    float:right;
    margin-top:2px;
}
.container_outer
{	
	float:left;
	width:100%;
	background-color:#EBE9ED; 
}
.container
{
	padding: 7px;
}
.col
{
	list-style: none;
	float: left;
	width: 30%;
	margin-right: 2%;
 }
.fieldset
{	
    float:left;
    width:100%;
    margin-bottom:7px;
}
.fieldset label
{
    display:inline-block;
    padding-top:4px;
    width:100px;
    word-wrap:break-word;
}
.tablecontainer
{
	border-style: outset inset inset outset; 
	border-width: thin;
	background-color:  #EDF1F4;
	float:left;
	margin-bottom:10px;
	width:100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	border-style:solid;				/*Sohail (30 May 2013) */
}
.tablecontainer li
{
	list-style-type: none;
	padding: 1%;
}
.btnbar
{
	float: left;
	border-top: 1px solid #C0C0C0;
	width: 98%;
	padding-top: 5px;
	text-align: right;
	}

/*{
	padding-bottom: 3px;
	margin-bottom: 10px;
	margin-top:5px;
	border-bottom: 1px solid #ddd;
	color: #3C3636;
}*/
.popupouter
{
    background-color:#FFF;
    padding:10px 10px 0; 
    float:left;
    width:600px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}


/** CSS added by Sohail **/
.rightcorner
{
	float: right;
	cursor: default;
}

.ModalPopupBG
{
	background-color: #000000;
    filter: alpha(opacity=50);
	opacity: 0.5;
	z-index:100001;
}
.ModalProgressBG
{
	background-color: #000000;
    filter: alpha(opacity=50);
	opacity: 0.5;
	z-index:100100 !important;
}
.tablecontainer li
{
	list-style-type: none;
	padding: 1%;
}
/*.btnbar{float:left; border-top:1px solid #C0C0C0; width:98%; text-align:right;}*/
.ErrorControl
{
	z-index:999;
	position:absolute;
	white-space:nowrap;	
	height:20px;
	background-color:Red;	
	color:White;		
	text-align:left;
    filter: alpha(opacity=80);
	opacity: 0.8;	
}

.RightTextAlign
{
	text-align:right;
}
.chkbx label
{
	width: auto;
}
.chkrl
{
	float: right;
	margin-right: 6%;
}
/** CSS added by Sohail **/
.shadow 
{	
	border-style: outset inset inset outset; 
	border-width: thin;
	border-color:#E7E7D6;
	margin-bottom:5px;
	-moz-box-shadow:    5px 5px 10px #000000;
	-webkit-box-shadow: 5px 5px 10px #000000;
	box-shadow:         5px 5px 10px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;
}
/** CSS added by Sohail **/


.row
{
	margin: 0px 0px 0px 0px;
	padding: 0px;
	height: 30px;
}

/** Change Gajanan 10.10.2018 start **/
.row2
{
	margin: 0px 0px 0px 0px;
	padding: 0px;
text-align:left;
margin-bottom:10px;
}
/** Change Gajanan 10.10.2018 End **/



.col2
{	
	height: 25px;
	width: 33%;	
	text-align:left;
	vertical-align:middle;
	padding-left: 10px;	
}

/*
Sohail (17 Apr 2013) - Start
To hide scroll bar on crystal report for upto 150% Zoom
*/
.crystalstyle
{
	width:153%!important;
	height:1499px!important;
}
/*
Sohail (17 Apr 2013) - End
*//*
Sohail (09 May 2013) - Start
*/
/*** Loading bar ***/
.transbg
{
	-moz-opacity: .5 !important;
	background:none repeat scroll 0 0 #000000;
	cursor:wait;
	filter: alpha(opacity=40) !important;
	left : 0px;
	opacity:0.5 !important;
	position: absolute;
	top : 0px;
	width:100%;
	z-index:10000;
}

.loadingbar	
{
	background-color:#FFF;
	-moz-opacity: .8 !important;
	opacity:0.8 !important;
	border-top:2px solid #DD4B39;
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5);
    box-shadow:0 1px 2px rgba(0,0,0,0.5);
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	left: 48%;
	position: absolute;
	top: 35%;
	width:232px;
	z-index:10001;
}

.loadingbar h3
{
    font-size: 13px;
    font-weight: bold;
	padding:0px 10px 12px;
	text-align:center;
}

.loadspan
{
	background :url(images/loading-bars1.gif) no-repeat;
	background-position:50% 50%;
	display:block;
	height:19px;
	margin:10px;
}
/*
Sohail (09 May 2013) - End
*/
/*
Sohail (30 May 2013) - Start
*/
.tab_container
{
		border: 1px solid #999999;
		border-top: none;
		clear: both;
		float: left; 
		width: 257px;
		background: #DCE4EB;
	}
.tab_content
{
		padding: 3px;
		font-size: 1.2em;
		display: none;
	}
#tabcontainer
{
		width: 275px;
		margin: 0 auto;	
	}
/*
Sohail (30 May 2013) - End
*/
/*
Sohail (12 Jun 2013) - Start
*/
 .GroupHeaderStyle
 {
	background-color: rgb(236, 236, 236);
	color: #000;
	font-weight: normal;
}

.GroupHeaderStyleBorderLeft
 {
	/*border: solid 1px Black;*/
	background-color: rgb(236, 236, 236);
	color: #000;
	font-weight: bold;
	border-style:solid;
	border-width:1px;
	border-color:#DDD; /*text-align:center;*/
}

.GroupHeaderStyleBorderRight
 {
	/*border: solid 1px Black;*/
	background-color: rgb(236, 236, 236);
	color: #000;
	font-weight: bold;
	border-style:solid;
	border-width:1px;
	border-color:#DDD; /*text-align:center;*/
}
/*
Sohail (12 Jun 2013) - End
*//* Css By Shani To Show Under Line Css on Analysis by link button ( 28 OCT 2014 ) Start*/
.lnkhover
{
	text-decoration: none;
}

.lnkhover:hover
{
	text-decoration: underline;
}

/*Css By Shani To Show Under Line Css on Analysis by link button ( 28 OCT 2014 ) End */
/*Css By Shani To Show Link Button Under Line Css End */
.mnuTools>a:hover
{
	color:#fff;
}
.mnuTools>a
{
	color:#000;
	font-size:13px;
}
.mnuTools
{
	background-color:#fff;
	padding-left:10px;
}
.mnuTools:hover
{
	background-color: #860038;
}
.btnmenu
{
	background-image: url(images/MoveDown_16.png),url(images/bg_btn.gif);
	background-repeat: no-repeat , repeat;
	background-color: Gray;
	background-position: right;
	font-family: Arial, Verdana;
	font-size: small;
	font-weight: bold;
	color: White;
	padding: 3px 12px;
	border: 1px solid #3a536e;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset;
	border-radius: 6px;
}
.btnsubmenu
{
	font-family: Arial, Verdana;
	font-size: small;
	font-weight: bold;
	padding: 3px 12px;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset;
	text-align: left;
}
.btnsubmenu:hover
{
	background-color: White;
}

/* S.SANDEEP [ 05 NOV 2014 ] -- START */
.MainGroupHeaderStyle
{
	background-color: #525C65;
	color: #ffffff;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-top-color: Black;
	border-bottom-color: Black;
	border-left-color: Black;
	border-right-color: Black; 
	text-align:center;
}

.MainGroupHeaderStyleBorderLeft
{
	/*border: solid 1px Black;*/
	background-color: #525C65;
	color: #ffffff;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-top-color: Black;
	border-bottom-color: Black;
	border-left-color: Black;
	border-right-color: transparent; /*text-align:center;*/
}

.MainGroupHeaderStyleBorderRight
{
	/*border: solid 1px Black;*/
	background-color: #525C65;
	color: #ffffff;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-top-color: Black;
	border-bottom-color: Black;
	border-left-color: transparent;
	border-right-color: Black; /*text-align:center;*/
}
/* S.SANDEEP [ 05 NOV 2014 ] -- END */
/* Shani [ 24 DEC 2014 ] -- END */
.GridViewRowVisibleFalse
{
	display:none;
}
/* Shani [ 24 DEC 2014 ] -- END */
select
{
	width: 100%; /*max-width: 335px;*/
	height: 25px;
	background: #FFFFFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	border: 1px solid #DDD;
}
select~select
{
	height: auto;
}
select > option
{
	background: #fff;
	color: #000;
}
select > option: hover
{
	background: #000;
	color: #fff;
	font-weight: 500;
}
input[type="text"], input[type="password"]
{
	border-radius: 5px; /*padding-left: 5px;*/
	height: 20px;
	width: 100%;
	vertical-align: middle;
}
textarea
{
	border-radius: 5px; /*padding-left: 5px;*/
	width: 100%;
	vertical-align: middle;
	resize: none;
}
input[type=checkbox]
{
	height: 15px;
	width: 15px;
	vertical-align: middle;
}
th
{
	font-weight: normal;
}
.newpopup
{
	/*padding: 10px;*/
	width: 300px;
	border-style: solid;
	border-width: 1px;
	-moz-box-shadow: 5px 5px 10px #000000;
	-webkit-box-shadow: 5px 5px 10px #000000;
	box-shadow: 5px 5px 10px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;
	background: #fff;
}

.newpopup
{
border-width: 0px;
}

#menu-wrapper
{
	margin: 0 auto;
	width: 100%;
        z-index: 1000;
	max-width: 1200px; /*position:fixed;/* SUHAIL - relative */ /*left:60px;*/ /*top:50px;*/
}
.stick
{
	position: fixed;
	top: 0px;
	z-index:10001;
}
/* SOHAIL -- START */
.stickbottom
{
	position: fixed;
	bottom: 0px;
	text-align: right;
	color: #333;
background-color: #EDF1F4;
border-color: #ddd;
padding: 10px 10px;
font-size: 14px;
border-bottom: 1px solid #ddd;
-moz-border-top-left-radius: 3px;
-webkit-border-top-left-radius: 3px;
border-top-left-radius: 3px;
-khtml-border-top-left-radius: 3px;
-moz-border-top-right-radius: 3px;
-webkit-border-top-right-radius: 3px;
border-top-right-radius: 3px;
-khtml-border-top-right-radius: 3px;
border: 1px solid #ddd;
margin-top: 10px;
margin-left: -10px;
margin-right: -10px;
margin-bottom: -10px;
	z-index: 9999;
}
/* SOHAIL -- END*/

.GroupHeaderStyle>.gridiconbc
{
	border:none;
}
.gridview
{
	cursor: default;
	border-color: #DDD;
	margin: 5px;
	background-color: #fff;
	border: 1px solid #DDD;
	font-size: 14px;
}
.griviewheader
{
	height: 25px;
	background: #860038;
	color: #fff;
	text-align: left;
}
.griviewheader > td
{
	padding-left: 5px;
	padding-right:5px;
}
.griviewheader > th
{
	padding-left: 5px;
	padding-right:5px;
}
.griviewitem > td
{
	padding-left: 5px;
	padding-right:5px;
}
.griviewitem > td~span
{
	padding-left: 0px;
}
.griviewitem
{
	border-bottom: 1px solid #DDD;
}
.griviewitem:hover
{
	background-color: #EDF1F4;
}
.gridimg
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-khtml-border-radius: 5px;
	background: #DEDEDE;
	height: 25px;
}
.gridedit
{
	background: url(./images/icons.png) no-repeat;
	background-position: 2px -652px;
	cursor: pointer;
	float: left;
	height: 24px;
	width: 18px;
}
.griddelete
{
	background: url(./images/icons.png) no-repeat;
	background-position: 2px -830px;
	cursor: pointer;
	float: left;
	height: 24px;
	width: 18px;
}
.gridiconbc
{
	/*background-color: #F7F7F7;
	border: 1px solid #DDD;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9) inset;
	float: left;
	margin: 0 5px;*/
}

.gridiconunlock
{
	background: url(./images/icons.png) no-repeat;
	background-position: 1px -2439px;
	cursor: pointer;
	float: left;
	height: 25px;
	width: 20px;
}
.grpheader
{
	width: 20%;
	text-align: justify;
	/*background-color: #2991DF;*/
	background-color: #919090;
	border: 2px solid #DDD;
	padding: 5px;
	height: 15px;
	float: none;
	font-size:14px;
	color:#fff;
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
	margin-bottom:5px;
}
.LeaveCss
{
	border-radius:10px;
	padding-left:10px;
}
.gridSelect
{
	background: url(./images/icons.png) no-repeat;
	background-position: 3px -2075px;
	cursor: pointer;
	float: left;
	height: 24px;
	width: 25px;
}
td, th
{
	text-align:left;
	padding-left:2px;
	padding-right:2px;
}td[align="right"], th[align="right"]
{
	text-align: right;
}
td[align="center"], th[align="center"]
{
	text-align: center;
}
.headerstyle
{
	text-align: center;
}
.itemstyle
{
	text-align: center;
}
/* SHANI [04 APR 2015]-- START */

.click-nav
{
	
}
.click-nav ul
{
	position: relative;
	font-weight: 900;
	padding-left: 0px;
}
.click-nav ul li
{
	position: relative;
	list-style: none;
	cursor: pointer;
}
.click-nav ul li ul
{
	position: absolute;
	left: 0;
	right: 0;
	top:35px;
}
.click-nav ul .clicker
{
	position: relative;
}
.click-nav ul .clicker:hover, .click-nav ul .active
{
	background-color: #337ab7;
	background: -webkit-linear-gradient(top,#337ab7 -40%,#84C6FF 100%); /*4099E7*/
	font-weight: 500;
}
.click-nav img
{
	position: absolute;
	top: 9px;
	left: 12px;
}
.click-nav ul li a
{
	transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	display: block;
	padding: 4px 0px 4px 7px;
	background: #860038;
	color: #fff;
	text-decoration: none;
	background-color: #860038;
	border-color: #2e6da4;
	font-family: Verdana, Arial;
	font-weight: 400;
	border: 1px solid #3a536e;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	min-width: 100px;
}
.click-nav ul li a:hover
{
	background-color: #337ab7;
	background: -webkit-linear-gradient(top,#337ab7 -40%,#84C6FF 100%); /*4099E7*/
	font-weight: 500;
}
/* Fallbacks */.click-nav .no-js ul
{
	display: none;
}
.click-nav .no-js:hover ul
{
	display: block;
}
.iSymbol
{

	font-size: 30px; 
	float: right; 
	background: transparent; 
	border: none; 
	color: #fff;
    margin-top: -9px; 
    margin-right: -2px; 
    margin-bottom: -8px;
}
.click-nav ul li ul li a
{
	padding-bottom: 3px;
	padding-top: 3px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius:0px;
}
/* SHANI [04 APR 2015]-- END*/.toggler-36
{
	background: #5BACE4; /* Nilay [21 May 2015] -- background: #EDF1F4;*/
	margin: 1px;
	border-radius: 5px; /* Nilay[01-Jul-2015] */
	text-align: left;
	padding: 11px; /* Nilay [21 May 2015] -- padding: 13px;*/
	font-size: 13px; /* Nilay [21 May 2015] -- font-size: 14px;*/
	-webkit-transform: rotate(0deg);
	z-index: 10;
	font-weight: bold;
	color: #FFFFFF; /*Nilay [21 May 2015]*/
}

.toggler-36:Hover
{
	background: #FEBF01;
	cursor: pointer;
}
.toggler-36.active
{
	background: #FEBF01;
	color: #fff;
}
.downcolor
{
	color: #fff;
}
.link
{
	cursor: pointer;
}
a.link:-webkit-any-link 
{
	color:inherit;
}
.numric
{
	
}
/* Nilay (20-Apr-16) -- Start */
.gridicon
{
    text-align: center;
    color: #860038;
    font-size: 22px;
}
/* Nilay (20-Apr-16) -- End */
.GroupHeaderStylecomp
{
    background-color: rgb(236, 236, 236);
    color: #000;
    font-weight: bold;
    text-align: center;
}

/* Nilay (20-Sep-16) -- Start */

 .btnOperationIcon:hover
    {
        background-color: #337ab7;
        background: -webkit-linear-gradient(top,#337ab7 -40%,#84C6FF 100%); /*4099E7*/
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }
/* Nilay (20-Sep-16) -- End */
/* Gajanan (20-Oct-18) -- Start */
 .ib
        {
            display: inline-block;
            margin-right: 10px;
        }

.ibwm
{
	display: inline-block;
	margin: 0px;
}

.no-padding
{
	padding: 0 !important;
}

        .menubar
        {
            position: absolute;
            top: 0;
            left: 0;
            background:#860038;
            width: 100%;
            height: 100%;
        }
        .menubar ul li
        {
            list-style: none;
        }
        .menubar ul li a
        {
            padding: 10px 20px;
            color: #fff;
            display: block;
            text-decoration: none;
        }
        .menubar ul li a.active
        {
          background-color: #71bf44;
        }
/* Gajanan (20-Oct-18) -- End */
/*'S.SANDEEP |12-FEB-2019| -- START*/
/*'ISSUE/ENHANCEMENT : {Performance Assessment Changes}*/
.textarea
{
	font-family:Verdana,Sans-Serif !important;	
	/*font-size: 8pt;*/
}
.MainGroupHeaderStyleLeftAlign
{
	background-color: #525C65;
	color: #ffffff;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-top-color: Black;
	border-bottom-color: Black;
	border-left-color: Black;
	border-right-color: Black; 
	text-align: left;	
}
tr .MainGroupHeaderStyleLeftAlig
{
border:none;
}

/*'S.SANDEEP |12-FEB-2019| -- END*/
/*'Gajanan |25-MAR-2019| -- START*/
.sweet-alert button
{
	background-color:#860038 !important;
}

.sweet-alert .sa-icon.sa-success .sa-line,
.sweet-alert .sa-icon.sa-success .sa-line,
.sweet-alert .sa-icon.sa-info::before ,
.sweet-alert .sa-icon.sa-info::after 
{
	background-color:#860038;
}

.sweet-alert .sa-icon.sa-info,
.sweet-alert .sa-icon.sa-success .sa-placeholder
{
	border-color:#860038;
}
/*'Gajanan |25-MAR-2019| -- ED*/


/* Pinkal (25-May-2019) -- Start  'Enhancement - NMB FINAL LEAVE UAT CHANGES   */
.mandatory_field::after
    {
        margin-left: 2px;
    	content:"*";
    	color:Red;
    	font-weight:600;
    }
/* Pinkal (25-May-2019) -- End  */    

/* 'Pinkal (11-Sep-2019) -- Start 'Enhancement NMB - Working On Claim Retirement for NMB. */
 .iconsize
{
    font-size:18px;
    text-decoration:none;    
}
/* 'Pinkal (11-Sep-2019) -- End   */
/* 'S.SANDEEP |25-OCT-2019| -- START */
/* 'ISSUE/ENHANCEMENT : Calibration Issues */
.MainGroupHeaderStyleLeft
{
	background-color: #525C65;
	color: #ffffff;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-top-color: Black;
	border-bottom-color: Black;
	border-left-color: Black;
	border-right-color: Black;
	text-align: left;
}
.GroupHeaderStylecompLeft
{
    background-color: rgb(200, 200, 200);
    color: #000;
    font-weight: bold;
    text-align: left;
}
/* 'S.SANDEEP |25-OCT-2019| -- END */

.btn-bottom
{
	box-sizing: border-box;
	margin: 0;
	position: absolute;
	width: 100%;
	bottom: 0;
}