﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="Closebutton.ascx.vb"
    Inherits="Closebutton" %>
    <%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<div class="panel-primary">
    <div class="panel-heading">
                <asp:Label ID="LblformName" runat="server"   ></asp:Label>
    </div>
    <div class="panel-body">
    </div>
</div>
