﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="TimeCtrl.ascx.vb" Inherits="Controls_TimeCtrl" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>

<asp:TextBox runat="server" ID="TxtTime" Width="80px" Height="15px" AutoPostBack="True" MaxLength="10" />
