﻿.theme-brown .navbar {
  background-color: #fff;
}
.theme-brown .nav-tabs > li > a::before
{
	border-color:#71BF44
}

.theme-brown .card:not(.dashboard) .header
{
	background: #860038;
}

.theme-brown .card .header h2
{
	color: #fff;
}

.theme-brown .btn-primary,
.theme-brown .btn-primary:hover,
.theme-brown .btn-primary:active,
.theme-brown .btn-primary:focus
{
	background-color: #860038 !important;
	border-color: #860038 !important;
}

.theme-brown .btn-default, 
.theme-brown .btn-default:hover,
.theme-brown .btn-default:active, 
.theme-brown .btn-default:focus
{
	color: #860038 !important;
	border-color: #860038 !important;
}

.theme-brown .table > tbody:first-child > tr:first-child > th,
.theme-brown .table > tbody:first-child > tr:first-child > td
{
	color: #FFFFFF !important;
	background-color: #860038 !important;
}

.theme-brown [type="checkbox"]:checked + label::after
{
	background-color: #860038 !important;
	border-color: #860038 !important;
}
.theme-brown [type="radio"]:checked + label::after,
.theme-brown [type="radio"]:checked + label::before,
.theme-brown .with-gap[type="radio"]:checked + label::after
{
	border-color: #860038 !important;
}
.theme-brown [type="radio"]:checked + label::after,
.theme-brown [type="radio"]:checked + label::after
{
	background-color: #860038 !important;
}

.theme-brown .card .header .header-dropdown i
{
	color: #FFFFFF !important;
}
.theme-brown .nav > li > a:hover
{
	background-color:  Transparent !important;
}
.theme-brown .nav > li > a
{
	color: rgba(0, 0, 0, 0.65);
}
.theme-brown .spinner .input-group-addon a
{
	color: #860038 !important;
}

.theme-brown .switch label input[type="checkbox"]:checked + .lever::after
{
	background-color: #860038 !important;
}
.theme-brown .switch label input[type="checkbox"]:checked + .lever
{
	background-color: rgba(134,0,56,0.7) !important;
}


.theme-brown .ajax__calendar_active .ajax__calendar_day
{
	background-color: #860038 !important;
}

.theme-brown .col-pink,
.theme-brown .col-red,
.theme-brown .col-pink,
.theme-brown .col-purple,
.theme-brown .col-deep-purple,
.theme-brown .col-indigo,
.theme-brown .col-blue,
.theme-brown .col-light-blue,
.theme-brown .col-cyan,
.theme-brown .col-teal,
.theme-brown .col-green,
.theme-brown .col-light-green,
.theme-brown .col-lime,
.theme-brown .col-light-green,
.theme-brown .col-amber,
.theme-brown .col-orange,
.theme-brown .col-deep-orange,
.theme-brown .col-grey,
.theme-brown .col-blue-grey 
{
	color: #860038 !important;
}

.theme-brown .badge
{
	background-color: #71BF44 !important;
}

.theme-brown .welcome-title
{
	color: #860038 !important;
}
.theme-brown .summary-title
{
	color: #71BF44 !important;
}

.theme-brown .form-group .form-line:hover,
.theme-brown .select2-container .select2-choice:hover
{
	border-color: #860038 !important;
}

.theme-brown .select2-results .select2-highlighted
{
	background-color: #860038 !important;
}

.theme-brown .sidebar .menu .list .toggled
{
	background-color: rgba(134,0,56,0.3) !important;
}

.theme-brown .sidebar .menu .list .ml-menu li .ml-menu li.bold a
{
	color: #71BF44 !important;
}

.theme-brown .select2-drop-active
{
	border-color: 1px solid #860038 !important;
}



.theme-brown .card:not(.pipeline-box-container) .header [type="checkbox"]:not(:checked) + label::after
{
	border: 2px solid #FFF !important;
}

.theme-brown .card .header [type="checkbox"]:checked + label::after 
{
	background-color: #FFF !important;
	border-color: #FFF !important;
}

.theme-brown .card .header [type="checkbox"]:checked + label::before
{
	border-right: 2px solid #860038 !important;
	border-bottom: 2px solid #860038 !important;
}

.theme-brown .card .header [type="radio"]:not(:checked) + label
{
	color: #FFF !important;
}

.theme-brown .card .header [type="radio"]:not(:checked) + label::before
{
	border-color: #FFF !important;
}

.theme-brown .card .header [type="radio"]:checked + label::after,
.theme-brown .card .header .theme-brown [type="radio"]:checked + label::after
{
	border-color: #860038 !important;
}

.theme-brown .card .header [type="radio"]:checked + label
{
	color:#FFF	
}

.theme-brown .card .header [type="radio"]:checked + label::after
{
	border-color: #860038 !important;	
}
.theme-brown .card .header [type="radio"]:checked + label::before,
.theme-brown .card .header .with-gap[type="radio"]:checked + label::after
{
	background-color: #FFF !important;
	border-color: #FFF !important;
}

.theme-brown .card.pipeline-box-container .header
{
	background:#fff;
}

.theme-brown .card.pipeline-box-container .header [type="checkbox"]:not(:checked) + label::after
{
	background-color: #FFF !important;
	border-color: #5a5a5a !important;
}
.theme-brown .card.pipeline-box-container .header [type="checkbox"]:checked + label::after
{
	background-color: #860038 !important;
	border-color: #860038 !important;
}

.theme-brown .card.pipeline-box-container .header [type="checkbox"]:checked + label::before
{
	border-right: 2px solid #FFF !important;
	border-bottom: 2px solid #FFF !important;
}

.theme-brown .card.pipeline-box-container .header
{
	border-color: #860038 !important;
}


.theme-brown .card.inner-card.pipeline-box-container 
{
	border-color: #860038 !important;
	overflow:hidden;
}

.theme-brown .pipeline-box-container .label-primary
{
	background-color: #71BF44 !important;
}

.theme-brown .profile-card .profile-header
{
	background-color: #860038 !important;
}

.theme-brown .table > tbody:first-child > tr:first-child > th [type="checkbox"]:not(:checked) + label::after,
.theme-brown .table > tbody:first-child > tr:first-child > td [type="checkbox"]:not(:checked) + label::after
{
	background-color: #FFF !important;
	border-color: #FFF !important;
}

.theme-brown .table > tbody:first-child > tr:first-child > th [type="checkbox"]:checked + label::after,
.theme-brown .table > tbody:first-child > tr:first-child > td [type="checkbox"]:checked + label::after
{
	background-color: #FFF !important;
	border-color: #FFF !important;
}
.theme-brown .table > tbody:first-child > tr:first-child > th [type="checkbox"]:checked + label::before,
.theme-brown .table > tbody:first-child > tr:first-child > td [type="checkbox"]:checked + label::before
{
	border-right: 2px solid #860038 !important;
	border-bottom: 2px solid #860038 !important;
}