﻿.theme-pink .navbar,
.theme-pink .switch label input[type="checkbox"]:checked + .lever::after,
.theme-pink [type="radio"]:checked + label::after,
.theme-pink .select2-results .select2-highlighted,
.theme-pink .card.dashboard .list-group-item > .badge,
.theme-pink .pipeline-box-container .header .label 
{
	background-color:#E91E63 !important;
}

.theme-pink .nav > li > a,
.theme-pink .navbar-nav li.user-menu > a .user-name::after,
.theme-pink .bars,
.theme-pink .globalsearch .input-group-addon 
{
	color:#FFFFFF;
}


.theme-pink .btn-primary,
.theme-pink .btn-primary:hover,
.theme-pink .btn-primary:active,
.theme-pink .btn-primary:focus
{
	background-color: #E91E63 !important;
	color:#FFFFFF;
	border-color: #E91E63;
}

.theme-pink .btn-default,
.theme-pink .btn-default:hover,
.theme-pink .btn-default:active,
.theme-pink .btn-default:focus
{
	background-color: #fff !important;
	color: #E91E63;
	border-color: #E91E63;
}

.theme-pink .nav-tabs > li > a::before
{
	border-color: #E91E63 !important;
}

.theme-pink .globalsearch
{
	background-color: Transparent!important;
}

.theme-pink .globalsearch.form-group .form-line
{
	background-color: rgba(0,0,0,.2);
	border-color: Transparent !important;
}

.theme-pink .globalsearch.form-group .form-control 
{
	background-color: Transparent !important;
	color:#FFFFFF;
}

.theme-pink .globalsearch.form-group .form-control::placeholder
{
	color:#FFFFFF;
}

.theme-pink .menu li a i
{
	color: #747474 !important;
}
.theme-pink .sidebar .menu .list a span
{
	color: #333
}

.theme-pink .switch label input[type="checkbox"]:checked + .lever
{
	background-color: rgba(134, 0, 56,.5) !important;
}

.theme-pink [type="checkbox"]:checked + label::after
{
	background-color: #E91E63 !important;
	border-color: #E91E63 !important;
}

.theme-pink .form-group .form-line:hover,
.theme-pink .form-group .form-line.focused
{
	border-color: #E91E63 !important;
}

.theme-pink .sidebar .legal .copyright a,
.theme-pink .dashboard.card .info-box-4 .icon i,
.theme-pink .quick-links .info-box-4 .icon i,
.theme-pink .dashboard.card .btn-link,
.theme-pink .welcome-title,
.theme-pink .spinner .input-group-addon a i,
.theme-pink .sidebar .menu .list a.toggled span,
.theme-pink .sidebar .menu .list a.toggled i,
.theme-pink .sidebar .menu .list .ml-menu li .bold a
{
	color: #E91E63 !important;
}

.theme-pink .main-logo-a-r,
.theme-pink .main-logo-a-l,
.theme-pink .main-logo-primary
{
	fill:#FFFFFF;
}

.theme-pink [type="radio"]:checked + label::after,
.theme-pink [type="radio"]:checked + label::before,
.theme-pink .with-gap[type="radio"]:checked + label::after,
.theme-pink .select2-container .select2-choice:hover,
.theme-pink .select2-container-active .select2-choice,
.theme-pink .select2-container-active .select2-choices,
.theme-pink .select2-dropdown-open.select2-drop-above .select2-choice,
.theme-pink .select2-dropdown-open.select2-drop-above .select2-choices,
.theme-pink .select2-drop-active
{
	border-color: #E91E63 !important;
}

.theme-pink .form-group .form-line.focused
{
	box-shadow: 0 0 0 2px rgba(233,30,99, 0.2);
}
.theme-pink ul.creative-dots li.big-dot,
.theme-pink ul.creative-dots li.semi-medium-dot,
.theme-pink ul.creative-dots li.small-dot
{
	background-color:rgba(233,30,99,1) !important;
}

.theme-pink ul.creative-dots li.semi-big-dot,
.theme-pink ul.creative-dots li.medium-dot,
.theme-pink ul.creative-dots li.semi-small-dot
{
	background-color:rgba(233,30,99,0.5) !important;
}

.theme-pink .tl-nominated-text
{
	color:#E91E63 !important;
}

