﻿<%@ Page Language="VB" MasterPageFile="~/home.master" AutoEventWireup="false" MaintainScrollPositionOnPostback ="true"  CodeFile="UserHome.aspx.vb" Inherits="UserHome" title="Aruti Human Resources and Payroll System" %>

<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="ajaxtoolkit" %>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    
  <%--Pinkal (11-Sep-2020) -- Start
  Optimzation OT NMB:  Working on Optimzing Various modules for Garbage Colletion Issue.--%>
 <script type="text/javascript" src="Help/aruti_help_managers/js/jquery-1.7.1.min.js"></script>
 <script type="text/javascript" src="Help/aruti_help_managers/js/jquery.searchabledropdown-1.0.8.src.js"></script>  
  <%--'Pinkal (11-Sep-2020) -- End--%>  
    
<div style="width:100%;"> 

    <table style="width: 100%; height : 100%">
        <tr style="width: 100%;">
            <td>
                &nbsp;<asp:Panel ID="pnlTask" runat="server" Height="100%" Width="100%"  >
                </asp:Panel>
            &nbsp;</td>
            <td>
                &nbsp;
                </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    </table>
</div> 
</asp:Content>

