﻿<%@ Page Title="Performance Evaluation" Language="VB" MasterPageFile="~/home.master"
    AutoEventWireup="false" CodeFile="wPgEmployeeEvaluation2.aspx.vb" Inherits="wPgPerformanceEvaluation" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<%@ Register Src="~/Controls/Closebutton.ascx" TagName="Closebutton" TagPrefix="uc1" %>
<%@ Register Src="~/Controls/DateCtrl.ascx" TagName="DateCtrl" TagPrefix="uc2" %>
<%@ Register Src="~/Controls/ConfirmYesNo.ascx" TagName="CnfCtrl" TagPrefix="uc3" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

    <script type="text/javascript" src="../../Help/aruti_help_managers/js/jquery-1.7.1.min.js"></script>

    <script type="text/javascript" src="../../Help/aruti_help_managers/js/jquery.searchabledropdown-1.0.8.src.js"></script>

    <script type="text/javascript">

        function pageLoad(sender, args) {
            $("select").searchable();
        }

        //        function txtBSCScoreGuid(sender,args) {
        //            PageMethods.ClickEvnet();
        //        }  
    </script>

    <script type="text/javascript">
        function onlyNumbers(txtBox, e) {
            if (window.event)
                var charCode = window.event.keyCode;       // IE
            else
                var charCode = e.which;

            var cval = txtBox.value;

            if (cval.length > 0)
                if (charCode == 46)
                if (cval.indexOf(".") > -1)
                return false;

            if (cval.length > 0)
                if (charCode == 45)
                if (cval.indexOf("-") > -1)
                return false;

            if (charCode == 13)
                return false;

            if (charCode > 31 && (charCode < 45 || charCode > 57))
                return false;
            return true;
        }    
    </script>

    <script type="text/javascript">
        function setscrollPosition(sender) {
            sender.scrollLeft = document.getElementById("<%=hdf_leftposition.ClientID%>").value;
            sender.scrollTop = document.getElementById("<%=hdf_topposition.ClientID%>").value;
        }
        function getBSCscrollPosition() {
            document.getElementById("<%=hdf_topposition.ClientID%>").value = document.getElementById("<%=objpnlBSC.ClientID%>").scrollTop;
            document.getElementById("<%=hdf_leftposition.ClientID%>").value = document.getElementById("<%=objpnlBSC.ClientID%>").scrollLeft;
        }
        function getGEscrollPosition() {
            document.getElementById("<%=hdf_topposition.ClientID%>").value = document.getElementById("<%=objpnlGE.ClientID%>").scrollTop;
            document.getElementById("<%=hdf_leftposition.ClientID%>").value = document.getElementById("<%=objpnlGE.ClientID%>").scrollLeft;
        }
    </script>

    <input type="hidden" id="endreq" value="0" />
    <input type="hidden" id="bodyy" value="0" />
    <asp:HiddenField ID="hfScrollPosition" runat="server" Value="0" />
    <asp:HiddenField ID="hfScrollPosition1" runat="server" Value="0" />
    <asp:HiddenField ID="hfScrollPosition2" runat="server" Value="0" />

    <script type="text/javascript">
        var prm;
        var scroll = {
            Y: '#<%= hfScrollPosition.ClientID %>'
        };
        var scroll1 = {
            Y: '#<%= hfScrollPosition1.ClientID %>'
        };
        var scroll2 = {
            Y: '#<%= hfScrollPosition2.ClientID %>'
        };
        prm = Sys.WebForms.PageRequestManager.getInstance();
        prm.add_beginRequest(beginRequestHandler);
        prm.add_endRequest(endRequestHandler);

        $(window).scroll(function() {
            var cend = $("#endreq").val();
            if (cend == "1") {
                $("#endreq").val("0");
                var nbodyY = $("#bodyy").val();
                $(window).scrollTop(nbodyY);
            }
        });

        function beginRequestHandler(sender, args) {
            $("#endreq").val("0");
            $("#bodyy").val($(window).scrollTop());
        }

        function endRequestHandler(sender, args) {
            $("#endreq").val("1");
            SetGeidScrolls();
            if (args.get_error() == undefined) {
                $("#scrollable-container").scrollTop($(scroll.Y).val());
                $("#scrollable-container1").scrollTop($(scroll1.Y).val());
                $("#scrollable-container2").scrollTop($(scroll2.Y).val());
            }
        }
    </script>

    <script type="text/javascript">
        function SetGeidScrolls() {
            var arrPnl = $('.gridscroll');
            for (j = 0; j < arrPnl.length; j++) {
                var trtag = $(arrPnl[j]).find('.gridview').children('tbody').children();
                if (trtag.length > 52) {
                    var trheight = 0;
                    for (i = 0; i < 52; i++) {
                        trheight = trheight + $(trtag[i]).height();
                    }
                    $(arrPnl[j]).css("height", trheight + "px");
                    $(arrPnl[j]).css("overflow", "auto");
                }
                else {
                    $(arrPnl[j]).css("height", "100%");
                }
            }
        }
    </script>

    <script>
        function GETextChange_Event(sender) {
            var row = sender.parentNode.parentNode;
            alert(row.rowIndex);
            var xmlhttp;
            if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            }
            else {// code for IE6, IE5
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            var url = "wPgEmployeeEvaluation.aspx?Method=TxtValRemarkGE_TextChanged&Sender=" + sender.id + "&rowindex=" + row.rowIndex;
            xmlhttp.open("Get", url, false);
            xmlhttp.send(null);
        }
    </script>

    <center>
        <asp:Panel ID="MainPan" runat="server" Style="width: 100%">
            <asp:UpdatePanel ID="uppnl_mian" runat="server">
                <ContentTemplate>
                    <div class="panel-primary">
                        <div class="panel-heading">
                            <asp:Label ID="lblPageHeader" runat="server" Text="Self Performance Evaluation"></asp:Label>
                        </div>
                        <div class="panel-body">
                            <div id="FilterCriteria" class="panel-default">
                                <div id="FilterCriteriaTitle" class="panel-heading-default">
                                    <div style="float: left;">
                                        <asp:Label ID="lblDetialHeader" runat="server" Text="Filter Criteria"></asp:Label>
                                    </div>
                                </div>
                                <div id="FilterCriteriaBody" class="panel-body-default">
                                    <table style="width: 100%; border: none;">
                                        <tr style="width: 100%" id="Combo">
                                            <td style="width: 13%">
                                                <asp:Label ID="lblEmployee" runat="server" Text="Employee"></asp:Label>
                                            </td>
                                            <td style="width: 20%">
                                                <asp:DropDownList ID="cboEmployee" runat="server" AutoPostBack="true">
                                                </asp:DropDownList>
                                            </td>
                                            <td style="width: 13%">
                                                <asp:Label ID="lblPeriod" runat="server" Text="Period"></asp:Label>
                                            </td>
                                            <td style="width: 20%">
                                                <asp:DropDownList ID="cboPeriod" runat="server" AutoPostBack="true">
                                                </asp:DropDownList>
                                            </td>
                                            <td style="width: 13%">
                                                <asp:Label ID="lblAssessDate" runat="server" Text="Date"></asp:Label>
                                            </td>
                                            <td style="width: 20%">
                                                <uc2:DateCtrl ID="dtpAssessdate" runat="server" AutoPostBack="true" />
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="btn-default">
                                        <asp:Button ID="BtnSearch" runat="server" CssClass="btndefault" Text="Search" />
                                        <asp:Button ID="BtnReset" runat="server" CssClass="btndefault" Text="Reset" />
                                    </div>
                                </div>
                            </div>
                            <div id="Div1" class="panel-default">
                                <div id="Div2" class="panel-heading-default">
                                    <div style="text-align: center; font-weight: bold">
                                        <asp:Label ID="objlblCaption" runat="server" Text="#value"></asp:Label>
                                    </div>
                                </div>
                                <div id="Div3" class="panel-body-default">
                                    <table id="tblGrids" style="width: 100%">
                                        <tr style="width: 100%;" id="Grids">
                                            <td align="justify" style="width: 100%">
                                                <asp:Panel ID="objpnlInstruction" runat="server" Width="100%" Height="500px" Visible="false">
                                                    <asp:TextBox ID="txtInstruction" ReadOnly="true" runat="server" TextMode="MultiLine"
                                                        Height="100%" Width="99%" CssClass="textarea" Wrap="true"></asp:TextBox>
                                                    <%--'S.SANDEEP |12-FEB-2019| -- START--%>
                                                    <%--'ISSUE/ENHANCEMENT : {Performance Assessment Changes}--%>
                                                    <%--'ADDED : CssClass="textarea"--%>
                                                    <%--'S.SANDEEP |12-FEB-2019| -- END--%>
                                                </asp:Panel>
                                                <asp:Panel ID="objpnlBSC" runat="server" Width="100%" Visible="false" CssClass="gridscroll"
                                                    Style="max-width: 1130px;" ScrollBars="Auto">
                                                    <div id="scrollable-container" onscroll="$(scroll.Y).val(this.scrollTop);">
                                                        <asp:DataGrid ID="dgvBSC" runat="server" AutoGenerateColumns="false" CssClass="gridview"
                                                            HeaderStyle-CssClass="griviewheader" ItemStyle-CssClass="griviewitem" AllowPaging="false"
                                                            HeaderStyle-Font-Bold="false">
                                                            <Columns>
                                                                <asp:BoundColumn DataField="Field1" HeaderText="" ReadOnly="true" FooterText="objdgcolhBSCField1" />
                                                                <%--0--%>
                                                                <asp:BoundColumn DataField="Field2" HeaderText="" ReadOnly="true" FooterText="objdgcolhBSCField2" />
                                                                <%--1--%>
                                                                <asp:BoundColumn DataField="Field3" HeaderText="" ReadOnly="true" FooterText="objdgcolhBSCField3" />
                                                                <%--2--%>
                                                                <asp:BoundColumn DataField="Field4" HeaderText="" ReadOnly="true" FooterText="objdgcolhBSCField4" />
                                                                <%--3--%>
                                                                <asp:BoundColumn DataField="Field5" HeaderText="" ReadOnly="true" FooterText="objdgcolhBSCField5" />
                                                                <%--4--%>
                                                                <asp:BoundColumn DataField="Field6" HeaderText="" ReadOnly="true" FooterText="objdgcolhBSCField6" />
                                                                <%--5--%>
                                                                <asp:BoundColumn DataField="Field7" HeaderText="" ReadOnly="true" FooterText="objdgcolhBSCField7" />
                                                                <%--6--%>
                                                                <asp:BoundColumn DataField="Field8" HeaderText="" ReadOnly="true" FooterText="objdgcolhBSCField8" />
                                                                <%--7--%>
                                                                <asp:BoundColumn DataField="St_Date" HeaderText="Start Date" ReadOnly="true" FooterText="dgcolhSDate" />
                                                                <%--8--%>
                                                                <asp:BoundColumn DataField="Ed_Date" HeaderText="End Date" ReadOnly="true" FooterText="dgcolhEDate" />
                                                                <%--9--%>
                                                                <asp:BoundColumn DataField="pct_complete" HeaderText="% Completed" ReadOnly="true"
                                                                    FooterText="dgcolhCompleted" />
                                                                <%--11--%>
                                                                <asp:BoundColumn DataField="dgoaltype" HeaderText="Goal Type" ReadOnly="true" FooterText="dgcolhGoalType">
                                                                </asp:BoundColumn>
                                                                <%--12--%>
                                                                <asp:BoundColumn DataField="dgoalvalue" HeaderText="Goal Value" ReadOnly="true" ItemStyle-HorizontalAlign="Right"
                                                                    FooterText="dgoalvalue"></asp:BoundColumn>
                                                                <%--13--%>
                                                                <asp:BoundColumn DataField="CStatus" HeaderText="Status" ReadOnly="true" FooterText="dgcolhStatus" />
                                                                <%--14--%>
                                                                <asp:TemplateColumn HeaderText="Score Guide" HeaderStyle-HorizontalAlign="Center"
                                                                    HeaderStyle-Width="187px" FooterText="dgcolhBSCScore">
                                                                    <ItemStyle HorizontalAlign="Center" />
                                                                    <ItemTemplate>
                                                                        <asp:LinkButton ID="dgcolhBSCScore" runat="server" Width="100%" Text='<%# Eval("score") %>'
                                                                            OnClick="dgcolhBSCScore_Click" CommandArgument='<%# Eval("scalemasterunkid") %>'></asp:LinkButton>
                                                                        <%--'S.SANDEEP |20-SEP-2019| -- START--%>
                                                                        <%--'ISSUE/ENHANCEMENT : {Ref#0004155}--%>
                                                                        <asp:HiddenField ID="dgcolhBSCScoreId" runat="server" Value='<%# Eval("scalemasterunkid") %>' />
                                                                        <%--'S.SANDEEP |20-SEP-2019| -- END--%>
                                                                    </ItemTemplate>
                                                                </asp:TemplateColumn>
                                                                <%--15--%>
                                                                <asp:BoundColumn DataField="Weight" HeaderText="Weight" ReadOnly="true" FooterText="dgcolhBSCWeight" />
                                                                <%--16--%>
                                                                <asp:TemplateColumn HeaderText="Result" FooterText="dgcolheselfBSC" HeaderStyle-Width="151px">
                                                                    <ItemStyle HorizontalAlign="Right" />
                                                                    <ItemTemplate>
                                                                        <asp:TextBox ID="dgcolheselfBSC" runat="server" Width="100%" Text="" AutoPostBack="true"
                                                                            CssClass="removeTextcss decimal" Style="text-align: right" OnTextChanged="TxtValRemarkBSC_TextChanged"
                                                                            onblur="getBSCscrollPosition()"></asp:TextBox>
                                                                    </ItemTemplate>
                                                                </asp:TemplateColumn>
                                                                <%--17--%>
                                                                <asp:TemplateColumn HeaderText="Remark" FooterText="dgcolheremarkBSC" HeaderStyle-Width="350px">
                                                                    <ItemStyle HorizontalAlign="Left" />
                                                                    <ItemTemplate>
                                                                        <asp:TextBox ID="dgcolheremarkBSC" runat="server" Width="100%" Text="" AutoPostBack="true"
                                                                            CssClass="removeTextcss" OnTextChanged="TxtValRemarkBSC_TextChanged" onblur="getBSCscrollPosition()"
                                                                            TextMode="MultiLine" Rows="3"></asp:TextBox>
                                                                    </ItemTemplate>
                                                                </asp:TemplateColumn>
                                                                <%--18--%>
                                                                <asp:BoundColumn DataField="IsGrp" FooterText="objdgcolhIsGrpBSC" Visible="false" />
                                                                <%--19--%>
                                                                <asp:BoundColumn DataField="GrpId" FooterText="objdgcolhGrpIdBSC" Visible="false" />
                                                                <%--20--%>
                                                                <asp:BoundColumn DataField="scalemasterunkid" FooterText="objdgcolhScaleMasterId"
                                                                    Visible="false" />
                                                                <%--21--%>
                                                            </Columns>
                                                        </asp:DataGrid>
                                                    </div>
                                                </asp:Panel>
                                                <asp:Panel ID="objpnlGE" runat="server" Width="100%" Visible="false" CssClass="gridscroll">
                                                    <div id="scrollable-container1" onscroll="$(scroll1.Y).val(this.scrollTop);" style="width: 100%;
                                                        overflow: auto">
                                                        <asp:DataGrid ID="dgvGE" runat="server" Width="99.5%" AutoGenerateColumns="false"
                                                            CssClass="gridview" HeaderStyle-CssClass="griviewheader" ItemStyle-CssClass="griviewitem"
                                                            AllowPaging="false" HeaderStyle-Font-Bold="false">
                                                            <Columns>
                                                                <asp:BoundColumn DataField="eval_item" HeaderText="Items" FooterText="dgcolheval_itemGE"
                                                                    ItemStyle-Width="55%" HeaderStyle-Width="55%" />
                                                                <asp:BoundColumn DataField="Weight" HeaderText="Weight" FooterText="dgcolhGEWeight"
                                                                    ItemStyle-Width="10%" HeaderStyle-Width="10%" />
                                                                <asp:TemplateColumn HeaderText="Score Guide" HeaderStyle-HorizontalAlign="Center"
                                                                    ItemStyle-Width="10%" HeaderStyle-Width="10%" FooterText="dgcolhGEScore">
                                                                    <ItemStyle HorizontalAlign="Center" />
                                                                    <ItemTemplate>
                                                                        <asp:LinkButton ID="dgcolhGEScore" runat="server" Width="100%" Text='<%# Eval("score") %>'
                                                                            OnClick="dgcolhGEScore_Click" CommandArgument='<%# Eval("scalemasterunkid") %>'></asp:LinkButton>
                                                                        <%--'S.SANDEEP |20-SEP-2019| -- START--%>
                                                                        <%--'ISSUE/ENHANCEMENT : {Ref#0004155}--%>
                                                                        <asp:HiddenField ID="dgcolhGEScoreId" runat="server" Value='<%# Eval("scalemasterunkid") %>' />
                                                                        <%--'S.SANDEEP |20-SEP-2019| -- END--%>
                                                                    </ItemTemplate>
                                                                </asp:TemplateColumn>
                                                                <asp:TemplateColumn HeaderText="Result" FooterText="dgcolheselfGE" ItemStyle-Width="5%"
                                                                    HeaderStyle-Width="5%">
                                                                    <ItemStyle HorizontalAlign="Right" />
                                                                    <ItemTemplate>
                                                                        <asp:TextBox ID="dgcolheselfGE" runat="server" Text="" Style="text-align: right"
                                                                            CssClass="removeTextcss" Width="100%" OnTextChanged="TxtValRemarkGE_TextChanged"
                                                                            onblur="getGEscrollPosition()" AutoPostBack="true"></asp:TextBox>
                                                                    </ItemTemplate>
                                                                </asp:TemplateColumn>
                                                                <asp:BoundColumn DataField="" HeaderText="Final Score" FooterText="objdgcolhedisplayGE"
                                                                    Visible="false" />
                                                                <asp:TemplateColumn HeaderText="Self Remark" FooterText="dgcolheremarkGE" ItemStyle-Width="20%"
                                                                    HeaderStyle-Width="20%">
                                                                    <ItemStyle HorizontalAlign="Left" />
                                                                    <ItemTemplate>
                                                                        <asp:TextBox ID="dgcolheremarkGE" runat="server" Text="" Width="98%" onblur="getGEscrollPosition()"
                                                                            CssClass="removeTextcss" OnTextChanged="TxtValRemarkGE_TextChanged" AutoPostBack="true"
                                                                            TextMode="MultiLine" Rows="3"></asp:TextBox>
                                                                    </ItemTemplate>
                                                                </asp:TemplateColumn>
                                                                <asp:BoundColumn DataField="scalemasterunkid" FooterText="objdgcolhscalemasterunkidGE"
                                                                    Visible="false" />
                                                                <asp:BoundColumn DataField="competenciesunkid" FooterText="objdgcolhcompetenciesunkidGE"
                                                                    Visible="false" />
                                                                <asp:BoundColumn DataField="assessgroupunkid" FooterText="objdgcolhassessgroupunkidGE"
                                                                    Visible="false" />
                                                                <asp:BoundColumn DataField="IsGrp" FooterText="objdgcolhIsGrpGE" Visible="false" />
                                                                <asp:BoundColumn DataField="IsPGrp" FooterText="objdgcolhIsPGrpGE" Visible="false" />
                                                                <asp:BoundColumn DataField="GrpId" FooterText="objdgcolhGrpIdGE" Visible="false" />
                                                                <asp:TemplateColumn HeaderStyle-HorizontalAlign="Center" ItemStyle-HorizontalAlign="Center"
                                                                    HeaderText="Info." ItemStyle-Width="5%" HeaderStyle-Width="5%" FooterText="objdgcolhInformation">
                                                                    <ItemTemplate>
                                                                        <asp:LinkButton ID="lnkCol" runat="server" OnClick="link_Click" CommandName="viewdescription"
                                                                            Font-Underline="false"><i class="fa fa-info-circle" style="font-size:20px;color:Blue"></i></asp:LinkButton>
                                                                    </ItemTemplate>
                                                                </asp:TemplateColumn>
                                                            </Columns>
                                                        </asp:DataGrid>
                                                    </div>
                                                </asp:Panel>
                                                <asp:Panel ID="objpnlCItems" runat="server" Width="100%" Visible="false" CssClass="gridscroll">
                                                    <div id="scrollable-container2" onscroll="$(scroll2.Y).val(this.scrollTop);" style="max-width: 1130px;
                                                        overflow: scroll">
                                                        <asp:GridView ID="dgvItems" runat="server" Width="99.5%" CssClass="gridview" HeaderStyle-CssClass="griviewheader"
                                                            ItemStyle-CssClass="griviewitem" AllowPaging="false" HeaderStyle-Font-Bold="false">
                                                            <Columns>
                                                            </Columns>
                                                        </asp:GridView>
                                                    </div>
                                                </asp:Panel>
                                            </td>
                                        </tr>
                                        <tr style="width: 100%;" id="NextPribtn">
                                            <td>
                                                <table style="width: 100%; height: 15px">
                                                    <tr style="width: 100%;">
                                                        <td align="left" style="width: 100%">
                                                            <table style="width: 100%; border-color: #DDD; font-weight: bold" border="1" cellspacing="0">
                                                                <tr style="width: 100%;">
                                                                    <td align="left" style="width: 25%">
                                                                        <asp:Label ID="objlblValue1" runat="server" Width="100%" Text="" Font-Bold="true"
                                                                            Visible="false"></asp:Label>
                                                                    </td>
                                                                    <td align="left" style="width: 25%">
                                                                        <asp:Label ID="objlblValue2" runat="server" Width="100%" Text="" Font-Bold="true"></asp:Label>
                                                                    </td>
                                                                    <td align="left" style="width: 25%">
                                                                        <asp:Label ID="objlblValue3" runat="server" Width="100%" Text="" Font-Bold="true"></asp:Label>
                                                                    </td>
                                                                    <td align="left" style="width: 25%">
                                                                        <asp:Label ID="objlblValue4" runat="server" Width="100%" Text="" Font-Bold="true"></asp:Label>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="btn-default">
                                        <div style="float: left">
                                            <asp:Button ID="objbtnBack" runat="server" CssClass="btndefault" Text="Previous"
                                                Width="30px" />
                                            <asp:Button ID="objbtnNext" runat="server" CssClass="btndefault" Text="Next" Width="30px" />
                                        </div>
                                        <div>
                                            <asp:Button ID="btnSave" runat="server" CssClass="btndefault" Text="Save" />
                                            <asp:Button ID="btnSaveCommit" runat="server" CssClass="btndefault" Text="Save & Submit" />
                                            <asp:Button ID="btnClose" runat="server" CssClass="btndefault" Text="Close" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table>
                                <tr id="ScoreGuideBSC">
                                    <td>
                                        <cc1:ModalPopupExtender ID="popup_ViewGuideBSC" runat="server" TargetControlID="hdf_btnScoreGuideBSC"
                                            CancelControlID="btnCancelGuideBSC" BackgroundCssClass="ModalPopupBG" PopupControlID="pnl_ViewGuideBSC"
                                            Drag="True">
                                        </cc1:ModalPopupExtender>
                                        <%--<asp:Panel ID="" runat="server" Width="815px" Height="265px" Style="display: none;
                                            background-color: #FFFFFF; border-style: solid; border-width: thin; margin-left: auto;
                                            margin-right: auto;">
                                            <div style="margin-left: 25px; margin-right: 25px; border-width: 1px; border-style: solid;
                                                float: left; background-color: #FFFFFF; margin-top: 25px; margin-bottom: 25px;">
                                            </div>
                                        </asp:Panel>--%>
                                        <asp:Panel ID="pnl_ViewGuideBSC" runat="server" CssClass="newpopup" Style="display: none;
                                            width: 815px">
                                            <div class="panel-primary" style="margin-bottom: 0px">
                                                <div class="panel-heading">
                                                    <asp:Label ID="lblBSCScoreHeading" runat="server" Text="Score Guide"></asp:Label>
                                                </div>
                                                <div class="panel-body">
                                                    <div id="Div4" class="panel-default">
                                                        <div id="Div5" class="panel-heading-default">
                                                            <div style="float: left;">
                                                            </div>
                                                        </div>
                                                        <div id="Div6" class="panel-body-default">
                                                            <table style="width: 100%">
                                                                <tr style="width: 100%">
                                                                    <td style="width: 100%;" align="left">
                                                                        <asp:Panel ID="pnl_dgvBSCScoreGuid" runat="server" Width="100%" Height="200px" ScrollBars="Auto">
                                                                            <asp:GridView ID="dgvBSCScoreGuide" runat="server" Width="98%" AutoGenerateColumns="false"
                                                                                CssClass="gridview" HeaderStyle-CssClass="griviewheader" RowStyle-CssClass="griviewitem"
                                                                                AllowPaging="false" HeaderStyle-Font-Bold="false">
                                                                                <Columns>
                                                                                    <asp:BoundField DataField="scale" HeaderText="Scale" ReadOnly="true" ItemStyle-Width="100px" />
                                                                                    <asp:BoundField DataField="description" HeaderText="Description" HeaderStyle-HorizontalAlign="Left"
                                                                                        ReadOnly="true" ItemStyle-Width="600px" ItemStyle-Wrap="true" />
                                                                                </Columns>
                                                                            </asp:GridView>
                                                                        </asp:Panel>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <div class="btn-default">
                                                                <asp:HiddenField ID="hdf_btnScoreGuideBSC" runat="server" />
                                                                <asp:Button ID="btnCancelGuideBSC" runat="server" Text="Cancel" CssClass="btndefault" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </asp:Panel>
                                    </td>
                                </tr>
                                <tr id="ScoreGuideGE">
                                    <td>
                                        <cc1:ModalPopupExtender ID="popup_ViewGuideGE" runat="server" TargetControlID="hdf_btnScoreGuide"
                                            CancelControlID="btnCancelGuide" BackgroundCssClass="ModalPopupBG" PopupControlID="pnl_ViewGuide"
                                            Drag="True">
                                        </cc1:ModalPopupExtender>
                                        <%--<asp:Panel ID="" runat="server" Width="815px" Height="265px" Style="display: none;
                                            background-color: #FFFFFF; border-style: solid; border-width: thin; margin-left: auto;
                                            margin-right: auto;">
                                            <div style="margin-left: 25px; margin-right: 25px; border-width: 1px; border-style: solid;
                                                float: left; background-color: #FFFFFF; margin-top: 25px; margin-bottom: 25px;">
                                            </div>
                                        </asp:Panel>--%>
                                        <asp:Panel ID="pnl_ViewGuide" runat="server" CssClass="newpopup" Style="display: none;
                                            width: 815px">
                                            <div class="panel-primary" style="margin-bottom: 0px">
                                                <div class="panel-heading">
                                                    <asp:Label ID="lblGEScoreHeading" runat="server" Font-Bold="true" Text="Score Guide"></asp:Label>
                                                </div>
                                                <div class="panel-body">
                                                    <div id="Div7" class="panel-default">
                                                        <div id="Div8" class="panel-heading-default">
                                                            <div style="float: left;">
                                                                <asp:Label ID="Label1" runat="server" Text="Title"></asp:Label>
                                                            </div>
                                                        </div>
                                                        <div id="Div9" class="panel-body-default">
                                                            <table style="width: 100%;">
                                                                <tr style="width: 100%">
                                                                    <td style="width: 100%" align="left">
                                                                        <asp:Panel ID="pnl_dgvGEScoreGuid" runat="server" Width="100%" Height="200px" ScrollBars="Auto">
                                                                            <asp:GridView ID="dgvGEScoreGuide" runat="server" Width="99%" AutoGenerateColumns="false"
                                                                                CssClass="gridview" HeaderStyle-CssClass="griviewheader" RowStyle-CssClass="griviewitem"
                                                                                AllowPaging="false" HeaderStyle-Font-Bold="false">
                                                                                <Columns>
                                                                                    <asp:BoundField DataField="scale" HeaderText="Scale" ReadOnly="true" />
                                                                                    <asp:BoundField DataField="description" HeaderText="Description" HeaderStyle-HorizontalAlign="Left"
                                                                                        ReadOnly="true" />
                                                                                </Columns>
                                                                            </asp:GridView>
                                                                        </asp:Panel>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <div class="btn-default">
                                                                <asp:HiddenField ID="hdf_btnScoreGuide" runat="server" />
                                                                <asp:Button ID="btnCancelGuide" runat="server" Text="Cancel" CssClass="btndefault" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </asp:Panel>
                                    </td>
                                </tr>
                                <tr id="popup_AddGE">
                                    <td>
                                        <cc1:ModalPopupExtender ID="popup_CItemAddEdit" runat="server" TargetControlID="hdf_cItem"
                                            CancelControlID="hdf_cItem" DropShadow="true" BackgroundCssClass="ModalPopupBG"
                                            PopupControlID="pnl_CItemAddEdit" Drag="True">
                                        </cc1:ModalPopupExtender>
                                        <asp:Panel ID="pnl_CItemAddEdit" runat="server" CssClass="newpopup" Style="display: none;
                                            width: 750px;">
                                            <div class="panel-primary" style="margin-bottom: 0px">
                                                <div class="panel-heading">
                                                    <asp:Label ID="lblpopupHeader" runat="server" Text="Aruti"></asp:Label>
                                                </div>
                                                <div class="panel-body">
                                                    <div id="Div10" class="panel-default">
                                                        <div id="Div12" class="panel-body-default">
                                                            <table style="width: 100%">
                                                                <tr style="width: 100%">
                                                                    <td style="width: 100%;">
                                                                        <asp:Panel ID="pnl_dgv_Citems" runat="server" Style="height: 360px !important" ScrollBars="Auto">
                                                                            <asp:DataGrid ID="dgv_Citems" runat="server" AutoGenerateColumns="false" CssClass="gridview"
                                                                                HeaderStyle-CssClass="griviewheader" ItemStyle-CssClass="griviewitem" AllowPaging="false"
                                                                                HeaderStyle-Font-Bold="false" Width="99%">
                                                                                <Columns>
                                                                                    <asp:BoundColumn HeaderText="Custom Items" DataField="custom_item" FooterText="dgcolhItems"
                                                                                        HeaderStyle-Width="450px" ItemStyle-Width="450px"></asp:BoundColumn>
                                                                                    <asp:TemplateColumn FooterText="dgcolhValue" HeaderText="Custom Value" HeaderStyle-Width="250px"
                                                                                        ItemStyle-Width="250px"></asp:TemplateColumn>
                                                                                    <asp:BoundColumn DataField="itemtypeid" Visible="false" FooterText="clmCntType">
                                                                                    </asp:BoundColumn>
                                                                                    <asp:BoundColumn DataField="rOnly" Visible="false" FooterText="clmrOnly"></asp:BoundColumn>
                                                                                    <asp:BoundColumn DataField="customitemunkid" Visible="false"></asp:BoundColumn>
                                                                                    <asp:BoundColumn DataField="selectionmodeid" Visible="false"></asp:BoundColumn>
                                                                                    <asp:BoundColumn DataField="isdefaultentry" Visible="false"></asp:BoundColumn>
                                                                                    <%--'S.SANDEEP |08-JAN-2019| -- START--%>
                                                                                    <asp:BoundColumn DataField="iscompletedtraining" Visible="false"></asp:BoundColumn>
                                                                                    <%--'S.SANDEEP |08-JAN-2019| -- END--%>
                                                                                </Columns>
                                                                            </asp:DataGrid>
                                                                        </asp:Panel>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <div class="btn-default">
                                                                <asp:HiddenField ID="hdf_cItem" runat="server" />
                                                                <asp:Button ID="btnIAdd" runat="server" Text="Add" CssClass="btndefault" />
                                                                <asp:Button ID="btnIClose" runat="server" Text="Close" CssClass="btndefault" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </asp:Panel>
                                    </td>
                                </tr>
                                <tr id="CItemReason">
                                    <td>
                                        <cc1:ModalPopupExtender ID="popup_CItemReason" runat="server" BackgroundCssClass="ModalPopupBG"
                                            CancelControlID="btnNo" PopupControlID="pnl_cItemReason" TargetControlID="hdf_cItemReason">
                                        </cc1:ModalPopupExtender>
                                        <%--  <asp:Panel ID="" runat="server" Style="display: none; padding: 10px; width: 300px;
                                            border-style: solid; border-width: 1px; -moz-box-shadow: 5px 5px 10px #000000;
                                            -webkit-box-shadow: 5px 5px 10px #000000; box-shadow: 5px 5px 10px #000000; -moz-border-radius: 10px;
                                            -webkit-border-radius: 10px; border-radius: 10px; -khtml-border-radius: 10px;"
                                            BackColor="#5377A9" DefaultButton="btnYes">
                                        </asp:Panel>--%>
                                        <asp:Panel ID="pnl_cItemReason" runat="server" CssClass="newpopup" Style="display: none;
                                            width: 450px">
                                            <div class="panel-primary" style="margin-bottom: 0px">
                                                <div class="panel-heading">
                                                    <asp:Label ID="lblTitle" runat="server" Text="Title"></asp:Label>
                                                </div>
                                                <div class="panel-body">
                                                    <div id="Div13" class="panel-default">
                                                        <div id="Div14" class="panel-heading-default">
                                                            <div style="float: left;">
                                                                <asp:Label ID="lblMessage" runat="server" Text="Message :" />
                                                            </div>
                                                        </div>
                                                        <div id="Div15" class="panel-body-default">
                                                            <table style="width: 100%">
                                                                <tr style="width: 100%">
                                                                    <td style="width: 100%">
                                                                        <asp:TextBox ID="txtMessage" runat="server" TextMode="MultiLine" Rows="3" Style="resize: none"></asp:TextBox>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <div class="btn-default">
                                                                <asp:Button ID="btnYes" runat="server" Text="Yes" CssClass="btnDefault" />
                                                                <asp:Button ID="btnNo" runat="server" Text="No" CssClass="btnDefault" />
                                                                <asp:HiddenField ID="hdf_cItemReason" runat="server" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </asp:Panel>
                                    </td>
                                </tr>
                                <tr id="CnfYesNo">
                                    <td>
                                        <cc1:ModalPopupExtender ID="popup_CnfYesNo" runat="server" BackgroundCssClass="ModalPopupBG"
                                            CancelControlID="hdf_popupCnfYesNo" PopupControlID="pnl_CnfYesNo" TargetControlID="hdf_popupCnfYesNo">
                                        </cc1:ModalPopupExtender>
                                        <%-- <asp:Panel ID="" runat="server" Style="display: none; padding: 10px;
                                            width: 300px; border-style: solid; border-width: 1px; -moz-box-shadow: 5px 5px 10px #000000;
                                            -webkit-box-shadow: 5px 5px 10px #000000; box-shadow: 5px 5px 10px #000000; -moz-border-radius: 10px;
                                            -webkit-border-radius: 10px; border-radius: 10px; -khtml-border-radius: 10px;"
                                            BackColor="#5377A9" DefaultButton="btnYes">
                                        </asp:Panel>--%>
                                        <asp:Panel ID="pnl_CnfYesNo" runat="server" CssClass="newpopup" Style="display: none;
                                            width: 450px">
                                            <div class="panel-primary" style="margin-bottom: 0px">
                                                <div class="panel-heading">
                                                    <asp:Label ID="lblConfirmTitle" runat="server" Text="Aruti"></asp:Label>
                                                </div>
                                                <div class="panel-body">
                                                    <div id="Div16" class="panel-default">
                                                        <div id="Div18" class="panel-body-default">
                                                            <table style="width: 100%">
                                                                <tr style="width: 100%">
                                                                    <td style="width: 100%">
                                                                        <asp:Label ID="lblConfirmMessage" runat="server" Text="Message :"></asp:Label>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <div class="btn-default">
                                                                <asp:Button ID="btnCnfYes" runat="server" Text="Yes" CssClass="btnDefault" />
                                                                <asp:Button ID="btnCnfNo" runat="server" Text="No" CssClass="btnDefault" />
                                                                <asp:HiddenField ID="hdf_popupCnfYesNo" runat="server" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </asp:Panel>
                                    </td>
                                </tr>
                                <tr id="uc3">
                                    <td>
                                        <uc3:CnfCtrl ID="CnfSaveCommit" runat="server" Title="Aruti" />
                                    </td>
                                </tr>
                                <tr id="HiddenField">
                                    <td>
                                        <asp:HiddenField ID="hdf_topposition" runat="server" />
                                        <asp:HiddenField ID="hdf_leftposition" runat="server" />
                                    </td>
                                </tr>
                                <tr id="Comp_Information">
                                    <td>
                                        <cc1:ModalPopupExtender ID="popup_ComInfo" runat="server" BackgroundCssClass="ModalPopupBG2"
                                            CancelControlID="btnSClose" PopupControlID="pnl_CompInfo" TargetControlID="hdnfieldDelReason">
                                        </cc1:ModalPopupExtender>
                                        <asp:Panel ID="pnl_CompInfo" runat="server" CssClass="newpopup" Style="display: none;
                                            width: 450px; z-index: 100002!important;">
                                            <div class="panel-primary" style="margin-bottom: 0px;">
                                                <div class="panel-heading">
                                                    <asp:Label ID="Label2" runat="server" Text="Aruti"></asp:Label>
                                                </div>
                                                <div class="panel-body">
                                                    <div id="Div11" class="panel-default">
                                                        <div id="Div17" class="panel-body-default">
                                                            <table style="width: 100%">
                                                                <tr style="width: 100%">
                                                                    <td style="width: 100%">
                                                                        <asp:Label ID="lblCompInfoHeader" runat="server" Text="Description"></asp:Label>
                                                                    </td>
                                                                </tr>
                                                                <tr style="width: 100%">
                                                                    <td style="width: 100%">
                                                                        <asp:TextBox ID="txtData" runat="server" TextMode="MultiLine" Width="97%" Height="100px"
                                                                            Style="margin-bottom: 5px;" ReadOnly="true" />
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <div class="btn-default">
                                                                <asp:Button ID="btnSClose" runat="server" Text="Close" Width="70px" Style="margin-right: 10px"
                                                                    CssClass="btnDefault" />
                                                                <asp:HiddenField ID="hdnfieldDelReason" runat="server" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </asp:Panel>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </ContentTemplate>
            </asp:UpdatePanel>
        </asp:Panel>
    </center>
</asp:Content>
