﻿@charset "UTF-8";
/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, aside, footer, hgroup, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	text-decoration: none;
}
:focus, :active { outline: 0 }

ol, ul { list-style: none }

blockquote:before, blockquote:after { content: "" }
blockquote { quotes: "" "" }

header, nav, article, aside, footer, hgroup, section { display: block }

/* @FONT-FACE */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#ffffff;
	background: #8096ac;
	margin-top: 15px;
}

#outer {
	width:100%;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
}

header{
	background: #F3F3F3 url(../images/hdrbg.png) repeat;
	height:75px;
	width:100%;	
}

.hrdtitle, .subtitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 2.0);
	color:#265fd5;
	font-size:24px;
	padding: 22px 7px 7px 15px;
}

.container {
	float: left;
	background: #ffffff;
	width: 970px;
	padding: 15px;
	-webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3); 
  	-moz-box-shadow:0 1px 2px 1px rgba(0, 0, 0, 0.3);
	-0-box-shadow:0 1px 2px 1px rgba(0, 0, 0, 0.3);
  	box-shadow:0 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.leftside {
	float: left;
	padding: 10px;
	width: 246px;
	background: #f6f6f6;
	color: #265fd5;
	border: 1px solid #d7d7d7;
}

.leftside ul li a {
	float: left;
	background: url(../images/arow.png) no-repeat 0 5px;
	font-family: Arial, Helvetica, sans-serif;
	color:#000000;
	font-size: 16px;
	padding-left: 20px;
	margin-bottom: 0px;
	width: 100%;
}

.leftside ul li a:hover {
	color: #265FD5;
	text-decoration: underline;
}

.leftside ul li ul li a {
	float: left;
	background: url(../images/arow2.png) no-repeat 0 5px;
	font-family: Arial, Helvetica, sans-serif;
	color:#000000;
	font-size: 14px;
	padding-left: 20px;
	margin-bottom: 10px;
	width: 85%;
	margin-left: 25px;
	line-height: 22px;
}

.leftside ul li ul li ul li {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	color:#000000;
	font-size: 14px;
	margin-bottom: 0px;
	width: 85%;
	margin-left: 22px;
	line-height: 22px;
}
.leftside ul li ul li ul li ul li{
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	color:#000000;
	font-size: 14px;
	margin-bottom: 0px;
	width: 85%;
	margin-left: 22px;
	line-height: 18px;
}

.rightside {
	float:right;
	width: 680px;
	padding: 0px 0px 0px 15px;
	color: #000000;
}

.title {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	color:#000000;
	font-size: 22px;
	border-bottom: 1px dotted #C8C7C7;
	padding-bottom: 3px;
	margin-bottom: 10px;
	width: 100%;
}

.subtitle {
	font-size:22px;
	padding: 0px;
	margin-bottom: 15px;
}

.paragraph, .para {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	color:#000000;
	font-size: 14px;
	line-height: 22px;
}

.para {
	border: 1px dotted #B8B8B8;
	padding: 10px;
	background: #f6f6f6;
}

ul.list1 li, ul.list2 li {
	float: left;
	background: url(../images/bult.png) no-repeat 0 0px;
	font-family: Arial, Helvetica, sans-serif;
	color:#000000;
	font-size: 14px;
	width: 95%;
	line-height: 20px;
	padding: 0px 0px 10px 27px;
}

ul.list2 {
	float: left;
	background: #FFF6AB;
	border: 1px dotted #585858;
	margin: 10px 0px;
}

ul.list2 li {
	background: none;
	width: 95%;
	padding: 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1.0);
}

.imgbrd {
	float: left;
	background: #ebebeb;
	border: 1px solid #d5d5d5;
	padding: 5px;
	margin-bottom: 10px;
}

.imgtitle {
	float:left;
	display: block;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color:#000000;
	font-size: 14px;
	font-weight: bold;
	width: 100%;
	margin-bottom: 20px;
}
.olstyle
{
	list-style:upper-roman;
	margin-left:25px;
	padding-top:4px;
	clear:both;
}
.olstyle li
{
	padding:7px 0px;
	clear:both;
}

