﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="status.ascx.vb" Inherits="Controls_status" %>
<asp:DropDownList ID="ddlstatus" runat="server">
    <%--<asp:ListItem Text="Select" Value="0">Select</asp:ListItem>
    <asp:ListItem Text="Approved" Value="1">Approved</asp:ListItem>
    <asp:ListItem Text="Selected" Value="2" Selected= True>Pending</asp:ListItem>
    <asp:ListItem Text="Reject" Value="3">Reject</asp:ListItem>
    <asp:ListItem Text="Re-Schedule" Value="4">Re-Schedule</asp:ListItem>--%>
</asp:DropDownList>
